html, body {
    margin: 0;
    height: 97%;
    background-color: #FFF;
    font-family: source_sans_pro_regular,"Source Sans Pro",Arial,sans-serif!important;
    font-weight: 400!important;
    font-size: 14px!important;
    color: #444;
}


#preview {
  position: absolute;
  border: 5px solid #fff;
  background: #333;
  padding: 5px;
  display: none;
  border-radius:5px;
  color: #fff
}

* {
	margin: 0;
	padding: 0;
}

 html, body {
    margin: 0;
    height: 98%;	
	font-weight:400;
	background-color: #FFF;
	}


a, a:link, a:visited, a:hover, a:focus, a:active {
	color: #fff;
	text-decoration: none;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {
	color: #fff;
	background-color: #00a0dd;
	border-radius: 4px;
	border-color: #00a0dd;
	border-style: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    /* height: 200px; 
    border: 3px solid green;*/
	
	/*size*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 4px 0;
	
	font-weight: normal;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

ul li[onclick] {
	cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
height: 80vh;
}

#header {
	
    top: -55px;
    left: 0;

    width: 100%;
	height: 55px;
    background: url('/img/brands/edepoze/logo_header.png') no-repeat center;
    z-index: 1;
}

#footer-logo {
	
    top: -55px;
    right: 0;
    width: 175px;
    height: 40px;
    background: url(/img/brands/edepoze/logo_header.png) no-repeat 0;
	background-size:60%;
    z-index: 1;
    float: right;
}


#content {

	/*border-top: 1px solid #00a0dd;
	border-bottom: 1px solid #00a0dd;
    margin-top: 2px;*/
	height: 100%;
}

#browse-content {

	height:100%;
}


#ipad_container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*background: #00a0dd;*/
	
	font-size: 14px;

}

#ipad_container.portrait {
	width: 100%;
	height: 100%;
}

#ipad_container.viewer {
	/*background: url('/img/ipad/solid-background.jpg') no-repeat 0 0;*/
	background-size: 100% 100%;
}

#ipad_container.fullscreen {
	
	position: absolute;
	border: none;
	border-radius: 0;
}

#ipad_container.fullscreen.portrait {

}

#ipad_container.fullscreen.annotator {
	
}

#ipad_container.fullscreen.portrait.annotator {
	}

#ipad_container.fullscreen #ipad_navbar {
	/*display: none;*/
}

#ipad_container.fullscreen #ipad_container_frame {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	padding-bottom: 45px;
}

#ipad_navbar {
	/*height: 49px;*/
}

#ipad_navbar.viewer {
	/*box-shadow: 0 10px 10px rgba(45, 45, 45, 0.6) inset;*/
	background: #FFF;
}

#ipad_toolbar {
	position: relative;
	height: 44px;
	font-size: 0;
}

#toolbar_left {
	position: absolute;
	top: 0;
	left: 18px;
	width: 300px;
	z-index: 100;
}

#toolbar_middle {
	padding: 10px 0;
	position: relative;
	float: left;
	left: 50%;
}

#toolbar_right {
	position: absolute;
	top: 0;
	right: 10px;
	width: 315px;
	text-align: right;
	z-index: 100;
}

#toolbar_left .toolbar_btn {
	margin-right: 15px;
}

#toolbar_right > * {
	display: inline-block;
	vertical-align: top;
	
	font-size: 14px;
	line-height: 44px;
}

#toolbar_left .toolbar_btn {
	display: inline-block;
	margin-top: 7px;
}

#toolbar_left .toolbar_btn a,
#toolbar_left .toolbar_btn div p {
	text-decoration: none;
}

#ipad_footer {
	position: absolute;
	bottom: 18px;
	width: 100%;
	height: 18px;
	color: #fca;
	font-size: 14px;
	text-align: center;
}

#navbar_container {
	display: none;
}

#ipad_navbtn_back {
	background: url('/img/ipad/button/back_button_bg_shadow.png') no-repeat 0 0;
	width: 73px;
	height: 39px;
	padding-top: 3px;	/* Recenter button under the text. */
	margin-top: -3px;
}

#ipad_navbtn_cases {
	background: url('/img/ipad/button/back_button_bg_shadow.png') no-repeat 0 0;
	width: 73px;
	height: 39px;
	padding-top: 3px;	/* Recenter button under the text. */
	margin-top: -3px;
}

#ipad_navbtn_logout {
	background: url('/img/ipad/button/logout_button_bg.png') no-repeat 0 0;
	width: 64px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

#ipad_navbtn_join {
	background: url('/img/ipad/button/logout_button_bg.png') no-repeat 0 0;
	width: 64px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

#ipad_navbtn_download {
	background: url('/img/ipad/icons/download.png') no-repeat 0 0;
	background-size: 100% 100%;
	width: 27px;
	height: 30px;
	cursor: pointer;
}

#ipad_navbtn_fullscreen {
	background: url('/img/ipad/icons/fullscreen-buttons.png') no-repeat 0 1px;
	/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.75);*/
	width: 28px;
	height: 29px;
	cursor: pointer;
}

#ipad_navbtn_presentation {
	background: url('/img/ipad/icons/presentation-buttons.png') no-repeat 0 -108px;
	width: 27px;
	height: 31px;
	cursor: pointer;
}

#ipad_navbtn_presentation.active {
	background: url('/img/ipad/icons/presentation-buttons.png') no-repeat 0 -76px;
}

#ipad_navbtn_pass_annotation {
	background: url('/img/ipad/icons/presentation-buttons.png') no-repeat 0 -140px;
	opacity: 0.6;
	width: 37px;
	height: 30px;
	cursor: pointer;
}

#ipad_navbtn_pass_annotation.active {
	opacity: 1.0;
}

#ipad_navbtn_pass_annotation.revoke {
	background-position: 0 -171px;
	opacity: 1.0;
}

#ipad_navbtn_skip_stamp, #ipad_navbtn_introduce, #ipad_navbtn_send, #ipad_navbtn_save {
	/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.75);*/
	width: 90px;
	height: 35px;
	text-align: center;
	cursor: pointer;
	margin-top: 7px;
	margin-left: 15px;
	border-radius: 5px;
	display: none;
}

#ipad_navbtn_cases p {
	padding: 1px 0px 0px 24px;
}

#ipad_navbtn_back p {
	padding: 1px 0px 0px 24px;
}

#ipad_toolbar p {
	margin: 0;
	font-size: 14px;
	line-height: 28px;
	font-weight: 600;
}

#ipad_navbtn_skip_stamp p, #ipad_navbtn_introduce p, #ipad_navbtn_send p, #ipad_navbtn_save p  {
	line-height: 35px;
	font-weight: normal;
	font-size: 17px;
	
}

#tutorialHide {
	position: absolute;
	top: 5px;
	right: 18px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}

#tutorialBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('/img/ipad/000000-0.5.png') 0 0 repeat;
	top: 0;
	left: 0;
	display: none;
	z-index: 10003;
}

#tutorialList {
	width: 200px;
	/*height: 80px;*/
	background: #fcfcfc;
	position: absolute;
	right: 10px;
	top: 40px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	border-color: #fafafa;
	color: #004099;
	text-align: left;
	font-weight: normal;
}

#tutorialList li {
	display: block;
	cursor: pointer;
	margin: 0 4px 0 15px;
	border-bottom: 1px solid #ccc;
	height: 35px;
	line-height: 35px;
}

#tutorialList li span {
	display: block;
	font-size: 15px;
}

#tutorialOwner {
	padding: 12px 0px 14px 0px;
}

#loading {
	position: absolute;
	width: 100%;
	height: 125%;
	background: url('/img/ipad/000000-0.5.png') 0 0 repeat;
	top: 0;
	left: 0;
	display: none;
	z-index: 10010;
}

#loading .spinner {
	width: 150px;
	height: 150px;
	background: url('/img/ipad/000000-0.7.png') 0 0 repeat;
	position: absolute;
	top: 284px;
	left: 50%;
	margin: auto -75px;
	border-radius: 8px;
	text-align: center;
}

#loading .spinner img {
	margin: 30px 0 30px 0;
}

#dialog1Btn, #dialog3Btn, #dialogLogout, #dialogJoin, #dialog3BtnVer, #dialogTextInput, #dialogTextInputWithDescription, #dialogFileShare, #dialogIntroduceInput, #dialogDepositionPasscode, #dialogSaveFile, #dialogNoteEntry,
	#dialogSelectGroups, #dialogCustomSort, .appDialog, #dialogSearch {
	position: absolute;
	width: 100%;
	height: 125%;
	background: url('/img/ipad/000000-0.5.png') 0 0 repeat;
	top: 0;
	left: 0;
	display: none;
	z-index: 10100;
}

#tutorialContents {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('/img/ipad/000000-0.5.png') 0 0 repeat;
	top: 0;
	left: 0;
	display: none;
	z-index: 10003;
}

#dialog1Btn .popupDialog, #dialogTextInput .popupDialog, #dialogSaveFile .popupDialog, #dialogSearch .popupDialog {
	width: 460px;
	height: 300px;
/*	background: url('/img/ipad/dialog/bg-popup-460x261.png') 0 0 repeat;*/
	background: #00a0dd;
	position: absolute;	
	margin: auto -230px;
	border-radius: 8px;
	text-align: center;
	color: #FFF;
	border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
	top: 25%;
    left: 50%;
	box-shadow: none;
    /*transform: translate(-50%, -50%);*/
}

#dialog1Btn .popupDialog h2, #dialogTextInput .popupDialog h2, #dialogTextInputWithDescription .popupDialog h2 {
	margin: 11px;
    font-size: 24px;
    color: #00a0dd;
    padding: 8px;
    background: white;
    border-radius: 3px;
    
}

#dialog1Btn .popupDialog h2.nodescription {
	margin: 60px 30px 0 30px;
}

#dialog1Btn .popupDialog .dialogMsg, #dialogTextInput .popupDialog .dialogMsg, #dialogTextInputWithDescription .popupDialog .dialogMsg, #dialogSaveFile .popupDialog .dialogMsg, #dialogSearch .popupDialog .dialogMsg {
	display: table;
	margin: 0 auto;
	width: 380px;
	height: 65px;
	color: #FFF;
}

#dialog1Btn .popupDialog .dialogMsg .dialogMsgInnerWrap, #dialogSearch .popupDialog .dialogMsg .dialogMsgInnerWrap {
	display: table-cell;
	height: 48px;
	text-align: center;
	vertical-align: middle;
}

#dialog1Btn .popupDialog .dialogMsg .dialogMsgInnerWrap span {
	display: inline-block;
	line-height: 20px;
	font-size: 18px;
	font-style: normal;
	max-width: 395px;
	word-wrap: break-word;
	color: #FFF;
	margin-top: 20px;
}

#dialog1Btn .popupDialog .dialogOkBtnWrap, #dialogTextInput .popupDialog .dialogOkBtnWrap, #dialogSaveFile .popupDialog .dialogOkBtnWrap, #dialogSearch .popupDialog .dialogOkBtnWrap {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 44px;
	width: 100%;
	height: 45px;
	overflow: hidden;
	background: #5fbb46;
	border-width: 1px;
	border-color: #f4f4f4;
	border-style: solid;
	display: flex;
}

#dialog1BtnClose, #dialogTextInputClose, #dialogTextInputCancel, #dialogTextInputWithDescriptionClose, #dialogTextInputWithDescriptionCancel, #dialogSaveFileCancel, #dialogSearchClose {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: #f00;
}

#dialog1Btn .popupDialog .dialogOkBtn, #dialogSearch .popupDialog .dialogOkBtn {
	/*background: url('/img/ipad/dialog/big-blue-button-162x54.png') 0 0 no-repeat;*/
	width: 100%;
	height: 54px;
	overflow: hidden;
	background:#5fbb46;
	border-width: 1px;
    border-color: #fff;
    border-style: solid;
	border-radius: 3px;
}

#dialog1Btn .popupDialog span, #dialogTextInput .popupDialog span, #dialogTextInputWithDescription .popupDialog span, #dialogSaveFile .popupDialog span, #dialogSearch .popupDialog span {
	display: inline-block;
	/*color: #fff;*/
	font-size: 18px;	
	height: 45px;
	line-height: 35px;
}

#dialog1Btn.nobutton .popupDialog {
	height: 160px;
	background-size: 100% 100%;
}

#dialog1Btn.nobutton .dialogOkBtnWrap {
	display: none;
}

#dialogTextInputWithDescription .popupDialog {
	position: absolute;
	top: 220px;
	left: 50%;
	margin: auto -239px;
	width: 478px;
	height: 300px;
	background: url('/img/ipad/dialog/bg-popup-478x380.png') 0 0 no-repeat;
	background-size: 478px 300px;
	text-align: center;
	color: #000;
}

#dialogTextInputWithDescription .popupDialog .dialogOkBtnWrap {
	position: absolute;
	top: 210px;
	left: 0px;
	width: 100%;
}

#dialogTextInputWithDescription input {
	padding-left: 8px;
	width: 245px;
	height: 26px;
	border-radius: 3px;
	box-shadow: inset 2px 2px 4px 1px #ccc;
	font-size: 1.0em;
	margin: 10px;
}

#dialogFileShare .popupDialog {
	width: 460px;
	height: 261px;
	/*background: url('/img/ipad/dialog/bg-popup-460x261.png') 0 0 repeat;*/
	position: absolute;
	top: 253px;
	left: 50%;
	margin: auto -230px;
	border-radius: 8px;
	text-align: center;
	color: #000;
	background:#f1f1f1;
}

#dialogFileShare .popupDialog h2 {
	margin: 45px 30px 15px 30px;
	font-size: 24px;
	font-weight: bold;
}

#dialogFileShare .popupDialog h2.nodescription {
	margin: 60px 30px 0 30px;
}

#dialogFileShare .popupDialog .dialogMsg {
	display: table;
	margin: 15px auto 0;
	width: 380px;
	height: 65px;
}

#dialogFileShare .popupDialog .dialogMsg .dialogMsgInnerWrap {
	display: table-cell;
	height: 48px;
	text-align: center;
	vertical-align: middle;
}

#dialogFileShare .popupDialog .dialogMsg .dialogMsgInnerWrap span {
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
	max-width: 395px;
	word-wrap: break-word;
}

#dialogFileShare .popupDialog .dialogForm input#shareFileName {
	width: 275px;
}

#dialogFileShare .popupDialog .dialogActions {
	position: absolute;
	top: 190px;
	left: 0px;
	width: 100%;
}

#dialogFileShare .popupDialog .dialogActions button {
	width: 125px;
	height: 42px;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.btn_app_cancel, .btn_app_extra, .btn_app_normal {
	cursor: pointer;
}

#dialogFileShare .popupDialog .dialogActions .btn_app_normal {
	margin-left: 10px;
}

#dialogFileShare .popupDialog .dialogActions .btn_app_cancel {
	margin-right: 10px;
}

#dialog3Btn .popupDialog, .appDialog .popupDialog {
	background: #00a0dd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
	width: 400px;
}

.appDialog .popupDialog {
	height: 343px;
}

#dialog3Btn .popupDialog.small, .appDialog .popupDialog.small {
	width: 450px;
	height: 250px;
	border-radius: 5px;
	text-align: center;
	color: #FFF;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dialog3Btn .popupContents, .appDialog .popupContents {
	margin: 30px 30px 125px;
	
}

#dialog3Btn .popupContents h4, .appDialog .popupContents h4 {
	margin: 11px;
    font-size: 24px;
    color: #00a0dd;
    padding: 8px;
    background: white;
    border-radius: 3px;
    width: 95%;
}

#dialog3Btn .small .popupContents h4, .appDialog .small .popupContents h4 {
	/*padding: 25px 0 10px 0;*/
}

#dialog3Btn .popupContents .dialogMsg, #dialog3BtnVer .popupContents .dialogMsg, .appDialog .popupContents .dialogMsg {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
}

#dialog3Btn .popupContents .dialogMsg p, .appDialog .popupContents .dialogMsg p {
	margin: 10px 0;
	font-size: 14px;
}

#dialog3Btn .popupContents .dialogMsg p span, .appDialog .popupContents .dialogMsg p span {
	line-height: 22px;
	display: inline-block;
	max-width: 475px;
}

#dialog3Btn .popupDialog .dialogBtnWrap, .appDialog .popupDialog .dialogBtnWrap {
	position: absolute;
	bottom: 36px;
	width: 490px;
	height: 54px;
}

#dialog3Btn .popupDialog .dialogBtnWrap {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 44px;
	width: 100%;
	height: 45px;
	overflow: hidden;
	background: #5fbb46;
	border-width: 1px;
	border-color: #f4f4f4;
	border-style: solid;
	display: flex;
}

#dialog3Btn .popupDialog.small .dialogBtnWrap, .appDialog .popupDialog.small .dialogBtnWrap {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 44px;
	width: 100%;
	height: 45px;
	overflow: hidden;
	background: #5fbb46;
	border-width: 1px;
	border-color: #f4f4f4;
	border-style: solid;
	display: flex;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#dialog3Btn .popupDialog .dialogBtnWrap a, .appDialog .popupDialog .dialogBtnWrap a {
	text-decoration: none;
}

#dialog3Btn .popupDialog .dialogBtnWrap div, .appDialog .popupDialog .dialogBtnWrap div {
	display: inline-block;
	vertical-align: top;
	/*margin: 0 5px;*/
	width: 50%;
}

#dialog3Btn .popupDialog.small .dialogBtnWrap div, .appDialog .popupDialog.small .dialogBtnWrap div {
	/*margin: 0 20px;*/
}

#dialog3Btn .popupDialog .dialogBtnWrap div span, .appDialog .popupDialog .dialogBtnWrap div span {
	font-size: 18px;
	line-height: 44px;
	color: #fff;
	color:#FFF;
	
}

#dialog3Btn.tight .popupDialog {
	height: auto;
	top: 160px;
	text-align: center;
	margin: inherit auto;
	color:#FFF;
	
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dialog3Btn.tight .popupContents {
	margin: 30px 40px 59px 40px;
	color:#FFF;
	
}

#dialog3Btn.tight .popupContents h4 {
	padding: 20px 10px 10px 10px;
	color: #00a0dd;
	
}

#dialog3Btn.tight .dialogMsg, #dialog3Btn.tight .dialogMsg p {
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	color:#FFF;
	
}

#dialog3Btn.tight .popupContents input[type='radio'] {
	opacity: 0;
}

#dialog3Btn.tight .dialogBtnWrap {
	position: absolute;
	width: 100%;
	left: 0;
	text-align:center;
	height: 44px;
	/*bottom: 44px;*/
}

#dialog3Btn.padded .dialogMsg {
	padding: 10px 0 20px 0;
}

#dialog3Btn.padded .popupDialog .dialogBtnWrap div {
	/*margin: 0 25px;*/
}

.appDialog .popupDialog .popupContents .dialogMsg p {
	font-size: 14px;
	line-height: 15px;
	margin: 4px 0;
}

#dialog3BtnVer .popupDialog {
	position: absolute;
	top: 220px;
	left: 50%;
	margin: auto -239px;
	width: 478px;
	height: 380px;
	/*background: url('/img/ipad/dialog/bg-popup-478x380.png') 0 0 repeat;*/
	text-align: center;
	color: #000;
	background:#f1f1f1;
}

#dialog3BtnVer .popupContents h4 {
	padding: 20px 0;
	color: #00a0dd;
	font-weight: bold;
}

#dialog3BtnVer .popupContents {
	margin: 20px 50px;
}

#dialog3BtnVer .popupDialog .dialogBtnWrap {
	width: 270px;
	margin: 0 105px;
}

#dialog3BtnVer .popupDialog .dialogBtnWrap > div {
	display: inline-block;
	margin: 3px 5px 7px 0;
	width: 270px;
	height: 50px;
	line-height: 50px;
	color: #fff;

	font-weight: normal;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	border-width: 1px 0 0;
	border-color: #02253c;
	border-style: solid;
	cursor: pointer;
}

#dialog3BtnVer .popupDialog .dialogBtnWrap > div span {
	color: #fff;
}

#dialogTextInput input, #dialogSaveFile input {
	padding-left: 8px;
    width: 255px;
    height: 33px;
    border-radius: 0px;
    /* box-shadow: inset 2px 2px 4px 1px #ccc; */
    font-size: 1.0em;
    margin: 20px;
    color: #000;
    
}

#dialogTextInput #dialogTextInputClose,
#dialogTextInput #dialogTextInputCancel,
#dialogTextInputWithDescription #dialogTextInputWithDescriptionClose,
#dialogTextInputWithDescription #dialogTextInputWithDescriptionCancel,
#dialogSaveFile #dialogSaveFileCancel {
	height: 45px;
	border-radius: 3px;    
	border-right: 1px #fff solid;
	/*border-radius: 9px;
	margin: 0 15px;*/
}

#dialogSaveFile #title {
	margin: 11px;
    font-size: 24px;   
    color: #00a0dd;
    padding: 8px;
    background: white;
    border-radius: 3px;
    width: 95%;
	
}

#dialogSaveFile .shadowLine {
	/*border-top: 2px solid #967e6d;
	margin: -12px 18px 0 18px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A69387), color-stop(1, #F4F4F4));
	background: linear-gradient(#a69387 0%, #F4F4F4 100%);
	height: 10px;*/
}

#dialogSaveFile input {
	margin: 7px;
}

#dialogSaveFile .folderInfo {
	z-index: 10;
	position: relative;
}

#dialogSaveFile .folderIcon {
	background: url('/img/ipad/icons/folder.png') 0 0 repeat;
	width: 39px;
	height: 39px;
	margin: -10px 0 0 35px;
	float:left;
}

#dialogSaveFile #folderList {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin: 35px 0 0 30px;
	float:left;
	position: relative;
}

#dialogSaveFile #folderList .anchor {
	position: absolute;
	bottom: 0;
}

#dialogSaveFile #folderList ul {
	max-height: 115px;
	width: 254px;
	background: #fff;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: auto;
}

#dialogSaveFile #folderList ul li {
	height: 34px;
	padding: 5px 10px;
	border-bottom: 1px solid #ddc;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	color:#000;
	
}

#dialogSaveFile #folderList ul li.select {
	font-weight: normal;
	color: #000;
	/*background: #0377ef;*/
}

#dialogSaveFile #dialogSaveFileCancel, #dialogSaveFile #dialogSaveFileClose {
	width: 50%;
	height: 45px;
}

#dialogNoteEntry .popupDialog {
	position: absolute;
	top: 260px;
	left: 50%;
	margin: auto -200px;
	width: 400px;
	height: 270px;
	background: #e9da7d;
	font-weight: bold;
	color: #000;
}

#dialogNoteEntry .dialogUsername, #dialogNoteEntry .dialogDate {
	font-size: 14px;
	padding: 2px 2px 4px 2px;
	color: #236edb;
}

#dialogNoteEntry #dialogNote {
	padding: 2px 2px 5px 2px;
	width: 390px;
	height: 177px;
	background: transparent;
	
	font-weight: bold;
	font-size: 14px;
	overflow-y: hidden;
	border: none;

}

#dialogNoteEntry textarea:focus {
	outline: none;
}

#dialogNoteEntry #dialogNoteEntrySave {
	background: url("/img/ipad/icons/note-icons.png") no-repeat 0 0;
	position: absolute;
	top: 3px;
	right: 5px;
	height: 25px;
	width: 26px;
	border: none;
	z-index: 2;
	cursor: pointer;
}

#dialogNoteEntry #dialogNoteEntryTrash {
	background: url("/img/ipad/icons/note-icons.png") no-repeat 0 -26px;
	position: absolute;
	bottom: 3px;
	left: 5px;
	height: 31px;
	width: 28px;
	border: none;
	z-index: 2;
	cursor: pointer;
}

.btn_app_normal {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #167FCA), color-stop(1, #095CB4));
	background: linear-gradient(#167FCA 0%, #095CB4 100%);
	border-radius: 9px;*/
	background: #5fbb46;
}

.btn_app_extra, .dialogOkBtn.btn_app_extra {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BC3A3A), color-stop(1, #A82222)) !important;
	background: linear-gradient(#BC3A3A 0%, #A82222 100%) !important;
	border-radius: 9px;*/
	background: #5fbb46;
}

.btn_app_cancel {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #544D49), color-stop(1, #302A27));
	background: linear-gradient(#544D49 0%, #302A27 100%);
	border-radius: 9px;*/
	background: #F00;
}

.btn_app_distribute {

	background: #5fbb46;
	border-radius: 9px;
}

.disabled {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(241, 241, 241, 0.4)), color-stop(1, rgba(183, 183, 183, 0.4)));
	background: linear-gradient(rgba(241, 241, 241, 0.4) 0%, rgba(183, 183, 183, 0.4) 100%);
}

.saveDisabled {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1B496B), color-stop(1, #193C62));
	background: linear-gradient(#1B496B 0%, #193C62 100%);
	color: #7b7c7e;
}

#dialogLogout .popupDialog {

	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 425px;
    height: 240px;
    background: #00a0dd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /* border-radius: 10px; */
    /* -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5); */
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    /* box-shadow: 1px 2px 6px rgba(0,0,0, 0.5); */
    /* background: -webkit-linear-gradient(#eeeeee, #eef8ff); */
   /*  background: -o-linear-gradient(#eeeeee, #eef8ff);*/
    /* background: -moz-linear-gradient(#eeeeee, #eef8ff);*/
    /* background: linear-gradient(#eeeeee, #eef8ff); */
    /* background: url(/img/ipad/dialog/bg-popup-578x393.png) 0 0 repeat; */
    background-size: 100% 100%;
    text-align: center;
    color: #FFF;
	border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
}

#dialogLogout .popupContents {
	/*margin: 24px 45px;*/
}

#dialogLogout .popupContents h4 {
	Padding: 25px 0;
    margin: 11px;
    font-size: 24px;
    color: #00a0dd;
    padding: 8px;
    background: white;
    border-radius: 3px;
    width: 95%;
}

#dialogLogout .popupContents .dialogMsg {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 20px;
	margin-top: 45px;
}

#dialogLogout .popupContents .dialogMsg p {
	margin: 10px 0;
	font-size: 18px;
}

#dialogLogout .popupContents .dialogMsg p span {
	line-height: 22px;
}

#dialogLogout .popupDialog .dialogBtnWrap {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 44px;
	width: 100%;
    height: 45px;
    overflow: hidden;
    background: #5fbb46;
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
	display: flex;
}

#dialogLogout .popupDialog .dialogBtnWrap a {
	text-decoration: none;
}

#dialogLogout .popupDialog .dialogBtnWrap div {
	display: inline-block;
	vertical-align: top;
	/*margin: 5px 28px;*/
	width: 50%;
}

#dialogLogout .popupDialog .dialogBtnWrap div span {
	font-size: 17px;

	line-height: 44px;
	color: #fff;
}

#dialogJoin .popupDialog {
	position: absolute;
	top: 72px;
	left: 50%;
	margin: auto -289px;
	width: 475px;
	height: 345px;
	background-size: 100% 100%;	
	background: #00a0dd;
    position: absolute;
    top: 153px;
    left: 50%;
    margin: auto -230px;
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;

}

#dialogJoin .popupContents {
	/*margin: 24px 45px;*/
}

#dialogJoin .popupContents h4 {
	margin: 11px;
    font-size: 24px;  
    color: #00a0dd;
    padding: 8px;
    background: white;
    border-radius: 3px;
    width: 95%;	
	
}

#dialogJoin .popupContents div {
	padding-left: 44px;
	
}

#dialogJoin .popupContents .dialogMsg span {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: center;
	color:#fff;
}

#dialogJoin .popupDialog .dialogBtnWrap {
	position: absolute;
    bottom: 50px;
    width: 100%;
    height: 44px;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 44px;
    width: 100%;
    height: 45px;
    overflow: hidden;
    background: #5fbb46;
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
    display: flex;

}

#dialogJoin .popupDialog .dialogBtnWrap div {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

#dialogJoin .popupDialog .dialogBtnWrap div span {
	font-size: 18px;

	line-height: 44px;
	color: #fff;
}

#join_form_wrap {
	float: right;
	margin-right: 80px;
	padding-top: 50px;
	width: 512px;
	text-align: right;
}

#join_form_wrap label {
	padding-right: 9px;
	font-size: 15px;
}

#join_form_wrap .input {
	margin-bottom: 10px;
	float: right;
}

#join_form_wrap .input input {
	padding-left: 8px;
	width: 257px;
	height: 30px;
	/*border-radius: 3px;
	box-shadow: inset 2px 2px 4px 1px #ccc;*/
	font-size: 1.0em;
	color:#000;
}

#join_form_wrap .input select {
	padding-left: 8px;
	width: 255px;
	height: 32px;
	font-size: 0.8em;
	color:#000;
	background-color: #ddd;
	/*border: 1px solid rgba(32,32,32,0.6);*/
	border: 1px solid #F00;
	border-radius: 3px;
}

@-moz-document url-prefix() {
    #join_form_wrap .input select {
		padding: 7px 5px 5px 8px;
	}
}

#dialogIntroduceInput #prompt {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}

#dialogIntroduceInput .popupDialog {
	position: absolute;
	top: 260px;
	left: 420px;
	text-align: center;
	color: #000;
}

#dialogIntroduceInput .dialogIntroduce {
    border: 4px solid black;
    border-radius: 10px;
    padding: 2px 6px 0 5px;
    display: inline-block;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3D5BB));
	background: linear-gradient(#FFFFFF 0%, #E3D5BB 100%);
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

#dialogIntroduceInput.wide .dialogIntroduce {
    border: 5px solid black;
    border-radius: 12px;
	font-size: 25px;
    padding: 5px 5px 1px 4px;
}

#dialogIntroduceInput span {
    padding: 0 2px;
}

#dialogIntroduceInput #textsize {
	max-width: 520px;
	white-space: nowrap;
}

#dialogIntroduceInput.wide #textsize {
	min-width: 150px;
	max-width: 650px;
}

#dialogIntroduceInput #pad {
	margin: 0;
}

#dialogIntroduceInput.wide #pad {
	margin: 4px;
}

#dialogIntroduceInput #date {
    font-size: 15px;
}

#dialogIntroduceInput.wide #date {
    font-size: 14px;
}

#dialogIntroduceInput .dialogIntroduce #bar {
    margin: 4px 4px 0 4px;
    border-bottom: 2px solid black;
}

#dialogIntroduceInput.wide .dialogIntroduce #bar {
    margin: 6px 8px 1px 8px;
}

#dialogIntroduceInput .dialogIntroduce input {
    margin: auto;
	min-width: 150px;
	max-width: 650px;
    display: table;
    border: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	padding: 0 5px;
	background: transparent;
}

#dialogIntroduceInput.wide .dialogIntroduce input {
	font-size: 25px;
}

#dialogIntroduceInput .dialogIntroduce input:focus {
    outline: none;
}

#dialogIntroduceInput #dialogIntroduceInputUndo {
	background: url("/img/ipad/icons/introduce_icons.png") no-repeat -7px -7px;
	position: absolute;
	top: -13px;
	left: -15px;
	height: 30px;
	width: 30px;
	border: none;
	z-index: 2;
	cursor: pointer;
}

#dialogIntroduceInput #dialogIntroduceInputRedo {
	background: url("/img/ipad/icons/introduce_icons.png") no-repeat -7px -52px;
	position: absolute;
	top: -13px;
	left: -15px;
	height: 30px;
	width: 30px;
	border: none;
	z-index: 2;
	cursor: pointer;
	display: none;
}

#dialogIntroduceInput #dialogIntroduceInputClose {
	background: url("/img/ipad/icons/introduce_icons.png") no-repeat 0 -84px;
	position: absolute;
	top: -12px;
	right: -12px;
	height: 25px;
	width: 25px;
	border: none;
	z-index: 2;
	cursor: pointer;
}

#dialogDepositionPasscode .popupDialog {
	width: 270px;
	height: 60px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #B4B4B4));
	background: linear-gradient(#fafafa 0%, #dddddd 100%);
	position: absolute;
	top: 45px;
	left: 50%;
	margin: auto 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	border-color: #fafafa;
	color: #000;
}

#dialogDepositionPasscode .popupDialog .dialogMsg {
	margin: 6px 10px;
}

#dialogDepositionPasscode .popupDialog .dialogMsg .dialogMsgInnerWrap {
	display: table-cell;
	height: 48px;
	color: #6a6a6a;
}

#dialogDepositionPasscode .popupDialog span {
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	max-width: 395px;
	word-wrap: break-word;
	color: #000;
	height: 25px;
}

#dialogSelectGroups .popupDialog {
	width: 235px;
	position: absolute;
	top: 253px;
	left: 50%;
	margin: auto -118px;
	text-align: left;
	color: #000;
}

#dialogSelectGroups #outerFrame {
	height: 260px;
	margin: 8px;
	border-radius: 8px;
}

#dialogSelectGroups ul {
	background: #fcfcfd;
	width: 195px;
	margin: 0 10px;
	border: solid 1px;
	border-radius: 8px;
	list-style-type: none;
	overflow-y: auto;
	overflow-x: hidden;
}

#dialogSelectGroups li {
	padding: 10px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	border-bottom: 1px solid #ddc;
}

#ipad_container_frame {
	display: block;
    height: 575px;
    border: none;
    overflow: hidden;
    width: 100%;
	/*padding-bottom: 5px;
     background-color: #e7ebee; */
    /* border-top: 1px solid #00a0dd;*/
	
}

#ipad_container_frame.portrait {
	/*width: 768px;
	height: 929px;*/
}

#ipad_container.portrait.fullscreen #ipad_container_frame.portrait {
	/*width: 768px;
	height: 1024px;*/
}

#ipad_container.viewer #ipad_container_frame {
	/*margin: 2px 0 0 0;*/
}

#ipad_container.fullscreen #ipad_container_frame {
	margin: 0;
}

#ipad_container_frame.introduce {
	height: 660px;
}

#tooltip_wrap {
	position: absolute;
	top: 85px;
	left: 0;
	display: none;
	width: 100%;
	text-align: center;
	z-index: 10000;
}

#tooltip {
	display: inline-block;
	padding: 6px 14px;
	background: url('/img/ipad/38B5F9-0.7.png') 0 0 repeat;
	max-width: 400px;
	max-height: 38px;
	line-height: 20px;
	overflow: hidden;
	word-wrap: break-word;
}



.attractive {
	color: #ea8;
}

div.required label::before  {
	content: "*";
}

.submit input {
	cursor: pointer;
	margin: 0;
	  position: absolute;
	  top: 90%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.cake-error {
	padding: 20px 10px;
	color: #fff;
}

.cake-sql-log {
    display: none;
}

.popupDialog, .popupDialog span {
	color: #222;
}

.popupDialog button, .popupDialog button span {
	color: #fff;
}

.popupDialog .dialogBtnWrap {
	color: #fff !important;

	font-weight: normal;
	text-align: center;
}

.popupDialog .dialogBtnWrap > div {
	cursor: pointer;
}

.popupDialog .app_btn {
	border: 1px solid #000;
	border-radius: 6px;
	background: rgb(12,106,191);
	background: -webkit-linear-gradient(top, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.2, rgb(22,127,202)), color-stop(.99, rgb(9,92,180)));*/
	background: -ms-linear-gradient(	top, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background: linear-gradient(rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background-size: 100% 100%;
	box-shadow: 0px 0px 3px rgb(0,0,0);
	color: #fff !important;

	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.popupDialog .app_btn.inactive {
	background: rgba(16,116,191,0.35);
	background: -webkit-linear-gradient(top, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, rgba(22,127,202,0.35)), color-stop(.99, rgba(9,92,180,0.35)));*/
	background: -ms-linear-gradient(	top, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	background: linear-gradient(rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
}

.popupDialog .app_bttn {
	/*background: url('/img/ipad/button/big-black-button-160x54.png') no-repeat 0 0;*/
	background-size: 100% 100%;
	background: #F00;
}

.popupDialog .app_bttn_new {
	/*background: url('/img/ipad/button/big-blue-button-160x54.png') no-repeat 0 0;*/
	background-size: 100% 100%;
}

.popupDialog .inactive {
	background: url('/img/ipad/button/big-gray-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	cursor: default !important;
}

.hidden {
	display: none;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.app_btn {
	border: 1px solid #000;
	border-radius: 6px;
	background: rgb(12,106,191);
	background: -webkit-linear-gradient(top, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background: -ms-linear-gradient(top, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background: linear-gradient(rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background-size: 100% 100%;
	box-shadow: 0px 0px 3px rgb(0,0,0);
	color: #fff !important;
	
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.app_btn.inactive, .app_bttn.inactive {
	background: rgba(16,116,191,0.35);
	background: -webkit-linear-gradient(top, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	background: -ms-linear-gradient(top, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	background: linear-gradient(rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
}

.app_bttn {
	background: url('/img/ipad/button/big-blue-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	color: #fff !important;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.app_bttn_cancel, .app_bttn.cancel {
	background: url('/img/ipad/button/big-black-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	color: #fff !important;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	background: #F00;
}

.app_bttn_inactive, .app_bttn.inactive {
	background: url('/img/ipad/button/big-gray-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	color: #fff !important;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.app_btn_finish {
	width: 150px;
	line-height: 39px;
	background-color: #5fbb46;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	text-align: center;
}
.app_btn_finish_cancel {
	width: 150px;
	line-height: 39px;
	background-color: #F00;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	text-align: center;
}

#videoContainer {
	display: block;
	margin: 120px auto 0;
	width: 912px;
	height: 513px;
}

#depo_files_send_dlg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24,24,24,0.75);
	z-index: 10003;
	overflow: hidden;
}

#depo_files_send {
	position: relative;
    display: block;
    width: 800px;
    height: 90%;
    margin: 0 auto;
    background: #fff;
    color: #000;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;
}

#sender_actions {
	width: 100%;
	height: 45px;
	background-color: #5fbb46;
	color: #FFF;
	/*border-bottom: 2px solid #111;*/
}

#sender_actions button {
	padding: 4px 6px;
	color: #FFF;
	line-height: 24px;
}

#sender_actions .cancel_button {
	padding: 4px 6px;
	color: #FFF;
	line-height: 24px;
    background: #F00;
}

#sender_actions > div {
	position: absolute;
	width: 400px;
	line-height: 45px;
}

#sender_actions div.title {
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

#sender_actions div.port {
	top: 0;
	left: 10px;
	text-align: left;
}

#sender_actions div.steer {
	top: 0;
	right: 10px;
	text-align: right;
}

#sender_directions {

}

#sender_directions fieldset {
	border: 0;
}

#sender_directions fieldset div {
	display: block;
	height: 40px;
	border-bottom: 1px solid #ddd;
}

#sender_directions fieldset label {
	display: inline-block;
	margin: 0 10px 0 20px;
	line-height: 40px;
}

#sender_directions fieldset input {
	height: 36px;
	border: none;
	font-size: 14px;
}

#sender_directions fieldset input#sendTo { width: 724px; }
#sender_directions fieldset input#sendCc { width: 722px; }
#sender_directions fieldset input#sendBcc { width: 715px; }
#sender_directions fieldset input#sendSubject { width: 690px; }

#sendContents {
	display: block;
	width: 750px;
	height: 250px;
}

#sender_contents {
	margin: 20px;
}

#sender_contents div {
	margin-bottom: 10px;
}

#sender_contents span {
	color: #111;
}

#sender_contents ul {

	list-style-type: none;
}

#sender_contents ul li {
	height: 28px;
	line-height: 28px;
	padding-left: 32px;

}

#sender_contents ul li.type_pdf {
	background: url('/img/icon_sprite_filetypes_28.png') 0 0 no-repeat;
}

#sender_contents ul li.type_txt {
	background: url('/img/icon_sprite_filetypes_28.png') 0 -28px no-repeat;
}

.sigil-red {
	display: inline-block;
	padding: 2px 5px;
	line-height: 14px;
	height: 14px;
	min-width: 8px;
	background-color: #d00;
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.30);
	color: #fff !important;
	font-size: 14px;
	text-align: center;
}

#colorpicker_background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}

#colorpicker {
	position: absolute;
	top: 220px;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBECEC), color-stop(1, #C4CAD5));
	background: linear-gradient(#EBECEC 0%, #C4CAD5 100%);
    /*width: 370px;
    height: 240px;
    font-size: 14px;*/
    padding: 15px 15px 20px 15px;
    box-shadow: 0 0 30px #333333;
    border: 1px solid #F5F5F5;
    transform: translate(-50%, -50%);
	left:50%;
}

#colorpicker h2 {
	font-size: 14px;
	font-weight: bold;
	
	color: #000;
}

.color-line {
}

#colorpicker .border {
    width: 20px;
    height: 20px;
	border-radius: 10000000px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    float: left;
    border-width: 1px;
    border-style: solid none none solid;
    border-color: #B7B8BA;
}
#colorpicker .color-square {
    width: 20px;
    height: 20px;
	border-radius: 10000000px;
}
#colorpicker .selected {
    background-color: #CECECE;
}

#colorpicker #button-container {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    padding: 5px;
}

#colorpicker #default-color {
    font-size: 14px;
	
	color: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9F9F9), color-stop(1, #989898));
	background-image: linear-gradient(#F9F9F9 0%, #989898 100%);
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
}


/* fileSelection */
#fileSelect {
	display: none;
	
}

#fileSelect .fsPanelShadow {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	/*background: url('/img/ipad/888888-0.5.png') 0 0 repeat;*/
}

#fileSelect .fsPanelWrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 101;
}

.fileSelectPanel {
    width: 550px;
    height: 500px;
    background: #00a0dd;
    position: absolute;
    top: 70px;
    left: 0px;
    color: #000;
    border: 3px solid #00a0dd;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.fileSelectPanel .navbar {
	top: 0;
    left: 0;
    right: 0;
    height: 25px;
    /*border-bottom: 1px solid #f9f7f7;
     box-shadow: 0 2px 5px rgb(45 45 45 / 80%); */
}

.fileSelectPanel .fsTablesPanel {
	position: absolute;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	background:#FFF;
}

.drawerTab {
	float: left;
	background: url('/asset/images/horizontalTabRight.png') no-repeat 0 0;
	background-size: contain;
	position: absolute;
	width: 22px;
	height: 57px;
	cursor: pointer;
	z-index: 1;
	top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
}

#fileSelect > .drawerTab {
	left: 6px;
}

.fsPanelWrap .drawerTab {
	background: url('/asset/images/horizontalTabLeft.png') no-repeat 0 0;
	background-size: contain;
	right: 770px;
	left: 41 %;
}

.fileSelectPanel .navbar .backBtn {
	float: left;
	width: 65px;
	height: 29px;
	margin: 7px 0 0 15px;
	background: #5fbb46;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
}

.fileSelectPanel .navbar .backBtn p {
	
	font-size: 14px;
	margin: 1px 0 0 21px;
	line-height: 28px;
}

.fileSelectPanel .navbar .depositionLabel {
	float: left;
	margin: 10px 0 0 20px;
	color: #FFF;
	font-size: 14px;
}

.fsTablesPanel .fsFoldersPanel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 240px;
	box-shadow: 3px 3px 18px rgb(0 0 0 / 15%);
}

.fsTablesPanel .fsFilesPanel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 244px;
	right: 5px;
	box-shadow: 3px 3px 18px rgb(0 0 0 / 15%);
}

.fsTablesPanel.contentSearch .fsFoldersPanel {
	display: none;
}
.fsTablesPanel.contentSearch .fsFilesPanel {
	width: 100%;
	left: 0;
}

.fsTablesPanel .fsLegend {
    position: relative;
    margin: -3px 0 0 15px;
    color: #000;
    height: 18px;
    font-size: 16px;
    z-index: 1;
	
}

.fsFoldersPanel #fsFolders {
	position: absolute;
	top: 18px;
	bottom: 5px;
	width: 100%;
	/*background: url('/img/ipad/table_small_bg.png') no-repeat 0 0;*/
	background-size: 100% 100%;
	background: #fff;
}

#fsFoldersList {
	position: absolute;
	top: 50px;
	right: 14px;
	bottom: 19px;
	left: 0;
	overflow-x: auto;
}

#fsFilesList {
	position: absolute;
	top: 50px;
	right: 18px;
	bottom: 19px;
	left: 0;
	overflow-x: auto;
}

.fsFilesPanel #fsFiles {
	position: absolute;
	top: 18px;
	bottom: 5px;
	width: 100%;
}

.fsFilesPanel #fsFiles .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	border-left: 40px solid transparent;
	border-right: 80px solid transparent;
	/*background-image: url('/img/ipad/table-wide-left.png'), url('/img/ipad/table-wide-right.png'), url('/img/ipad/table-wide-middle.png');*/
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: left top, right top, left top;
	background-origin: border-box, border-box, padding-box;
	background-clip: border-box, border-box, padding-box;
	background-size: 40px 100%, 80.5px 100%, 40px 100%;
	background: #fff;
}

#fsFoldersList ul, #fsFilesList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#fsFoldersList ul li, #fsFilesList ul li {
	list-style: none;
	position: relative;
	margin: 1px;
	padding: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 40px;
	border: 1px solid #ddc;
}

#fsFoldersList ul {
	margin: 0 0 0 7px;
}

#fsFilesList ul {
	margin: 0 17px 0 8px;
}

#fsFilesList ul.loading {
	background: url('/img/ipad/loading2.gif') no-repeat 0 0;
	background-position: center;
}

#fsFoldersList li.sortable, #fsFilesList li.sortable {
	cursor: pointer;
}

#fsFoldersList li .folderLabel {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

#fsFilesList ul li {
	padding-left: 10px;
}

#fsFilesList ul li.selected {
	/*background: url('/img/ipad/filecell_bg.png') no-repeat 0 0;*/
	background-repeat: no-repeat;
    background-size: 100% 100%;
	color: #444;
	background: #f1f1f1;
}

#fsFilesList li p.exhibitHistory {
	font-weight: normal;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #5E5E5E;
}

.fsTablesPanel .dragBox .handle {
	top: 15px;
}

#fsFoldersList li.selected {
	/*background: url('/img/ipad/foldercell_bg.png') no-repeat 0 0;*/
	background-size: 100% 100%;
	background: #f1f1f1;
}

#fsFilesList li .folderInfo, #fsFilesList li .rank {
	display: table-cell;
	width: 90px;
	color: #999;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
}

#fsFilesList li .folderInfo {
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#fsFilesList li .rank {
	width: 80px;
}

/* navbar */
#ipad_navbar {
	position: relative;
}
#ipad_container.fullscreen #ipad_navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/*background: url('/img/ipad/888888-0.5.png') 0 0 repeat;*/
	z-index: 1;
}
#ipad_container.fullscreen #ipad_navbar {
	margin-right: 0 !important;
}
.toolbar_wrap {
	/*position: relative;
	height: 47px;
	padding-top:50px;*/
	border-bottom: 3px solid #5fbb46;
	background: #FFF;
}
#ipad_container.viewer .toolbar_wrap {
	/*border-bottom: 1px solid #000;
	box-shadow: 0 2px 5px rgba(45, 45, 45, 0.8);*/
}
.toolbar_table {
	/* width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border-color: transparent;
	position: relative;
	z-index: 10;
	padding: 15px 0;
    border-bottom: 5px solid #5fbb46;
    position: relative;
	min-height: 50px;
   background: #5fbb46;*/
}
.toolbar_table tr {
	width: 100%;
	height: 33px;
}
.toolbar_table tr td {
	width: auto;
	white-space: nowrap;
	/*vertical-align: top;*/
}
.toolbar_table td.toolbar_left {}
.toolbar_table td.toolbar_right {}
.toolbar_table td.toolbar_right:last-child {
	padding-right: 8px;
}
.toolbar_table td.toolbar_middle {
	width: 100%;
	white-space: normal;
	/*padding-bottom: 10px;*/
}
.toolbar_table td.toolbar_middle .toolbar_title {
	width: 100%;
	max-width: 300px;
}
.toolbar_table td.toolbar_left .toolbar_btn, .toolbar_table td.toolbar_right .toolbar_btn {
	padding-left: 10px;
}
.toolbar_table td.toolbar_left {
	/*padding-top: 5px;*/
}
.toolbar_table td.toolbar_right {
}
.toolbar_left .toolbar_btn {
	float: left;
	margin: 0 8px 0 8px;
	cursor: pointer;
}
.toolbar_left .toolbar_btn p, .toolbar_right .toolbar_btn p {
	margin: 0;
	padding: 0;	
	font-size: 15px;
}
.toolbar_left .navbtn_back, .toolbar_left .navbtn_cases {
	margin: 0 5px 0 0;
	font-size: 15px;
}
.toolbar_left .cases_btn, .toolbar_left .back_btn, .toolbar_left .logout_btn, .toolbar_left .join_btn, .toolbar_right .tutorial_btn{
	padding: 0;
	text-align: center;
	
    font-weight: 600;
	width: 65px;
    height: 24px;
    background-color: #00a0dd;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;

}

/*.toolbar_left .cases_btn {
	padding: 0;
	text-align: center;
	
    font-weight: 600;
	width: 65px;
    height: 2px;
    background-color: #00a0dd;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;

}*/
.toolbar_left .back_btn.shadow {
	background: url('/img/ipad/button/back_button_bg_shadow.png') no-repeat 0 0;
}
.toolbar_left .back_btn p, .toolbar_left .cases_btn p {
	/*line-height: 29px;*/
}
.toolbar_left .back_btn p {
	/*padding-left: 24px;*/
}
.toolbar_left .cases_btn p {
	/*padding-left: 21px;*/
}
/*.toolbar_left .logout_btn, .toolbar_left .join_btn, .toolbar_right .tutorial_btn {
	/*width: 100px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    color: #00a0dd;
    font-weight: 300; 
    font-size: 14px;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
	
    font-weight: 400;
}
*/
.toolbar_left .cases_btn p, .toolbar_left .back_btn p, .toolbar_left .logout_btn p, .toolbar_left .join_btn p, .toolbar_right .tutorial_btn p {

	padding: 0;
	text-align: center;
	
    font-weight: 600;
	width: 65px;
    height: 24px;
    background-color: #00a0dd;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
   
}
.toolbar_left .fullscreen_btn {
	background: url('/asset/images/gb3.png') no-repeat 0 0;
	width: 20px;
    height: 20px;
    /* margin-top: 4px;*/
}
.toolbar_left .fullscreen_btn.active {
	background: url('/asset/images/gb3-reset.png') no-repeat 0 0;
	width: 20px;
    height: 20px;
    /* margin-top: 4px;*/
}
#ipad_container.fullscreen .toolbar_left .fullscreen_btn {
	background: url('/asset/images/gb3-reset.png') no-repeat 0 0;
	width: 20px;
    height: 20px;
    /* margin-top: 4px;*/
}
.toolbar_left .presentation_btn {
	background: url('/asset/images/gb2.png') no-repeat 0 0;
	width: 20px;
    height: 20px;
    /* margin-top: 4px;*/
}
.toolbar_left .presentation_btn.active {
	background: url('/asset/images/gb2-inactive.png') no-repeat 0 0;
}
.toolbar_left .presentation_btn.notActive {
	/*opacity: 0.5;*/
	background: url('/asset/images/gb2.png') no-repeat 0 0;
}
.toolbar_left .presentation_btn.notActive.active {
	/*opacity: 1.0;*/
	background: url('/asset/images/gb2.png') no-repeat 0 0;
}
.toolbar_left .annotator_btn {
	background: url('/asset/images/annotator.png') no-repeat 0 0;
	/*opacity: 0.6;*/
	width: 20px;
	height: 20px;
	/*margin-top: 3px;*/
}
.toolbar_left .annotator_btn.active {
	opacity: 1.0;
	background: url('/asset/images/annotator.png') no-repeat 0 0;
	/*opacity: 0.6;*/
	width: 20px;
	height: 20px;
	/*margin-top: 3px;*/
}
.toolbar_left .annotator_btn.revoke {
	background: url('/asset/images/annotator.png') no-repeat 0 0;
}
.toolbar_left .download_btn {
	background: url('/asset/images/gb4.png') no-repeat 0 0;
	width: 20px;
    height: 20px;
    /* margin-top: 4px;*/
}
.toolbar_left .play_btn {
	background: url('/asset/images/play.png') no-repeat 0 0;
	background-size: cover;
	width:20px;
	height:20px;
	/*margin-top:4px;*/
}
.toolbar_left .pause_btn {
	background: url('/asset/images/pause.png') no-repeat 0 0;
	background-size: cover;
	width:20px;
	height:20px;
	/*margin-top:4px;*/
}
.toolbar_left .search_btn {
	background: url('/asset/images/gb5.png') no-repeat 0 0;
	background-size: cover;
	width: 20px;
    height: 20px;
    /* margin-top: 4px;*/
}
.toolbar_left .email_btn {
	background: url('/asset/images/gb6.png') no-repeat 0 0;
	background-size: cover;
	width: 20px;
    height: 20px;
    /* margin-top: 4px;*/
}
.toolbar_left .search_btn.selected {
	opacity: 0.6;
}
.toolbar_left .toolbar_title, .toolbar_middle .toolbar_title {
	display: none;
	margin: auto;
	/*padding: 0 0 0 10px;*/
	font-size: 14px;
	line-height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	white-space: nowrap;
	max-width: 300px;
	
}
#toolbar_logo {
	position: absolute;
	top: -55px;
	left: 0;
	width: 100%;
	height: 55px;
	background: url('/img/edepoze/logo_small.png') no-repeat center;
	z-index: 1;	/*50*/
}
.toolbar_right {
	
	padding-right: 3px;
}
.toolbar_right .toolbar_btn {
	float: right;
	margin: 0 0 0 7px;
	cursor: pointer;
}
.toolbar_right .navbtn_tutorial {
	margin: 6px 10px 0 7px;
}
.toolbar_right .tutorial_btn {
	width: 75px;
	background-size: 100% 100%;
}


.toolbar_right .userprofile {

   	width: 125px;
	float: right;
	clear: right;
	
}

.profileImage p {
    width: 22px;
    height: 22px;
	min-width: 22px;
    border-radius: 50%;
    background: #00a0dd;
    font-size: 16px;
    color: #fff;
    text-align: center;    
    float: left;
	margin: 1px 3px 0px 0px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;  
    display: inline-block;
    vertical-align: middle;
}



.profileImage span {
    color: #000;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 3px;
    vertical-align: middle;
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 99px;
    display: block;
    overflow: hidden;
    
}

.toolbar_right > div.btn_app_shadow {
	float: right;
    cursor: pointer;
    padding: 0;
    text-align: center;
    
    font-weight: 600;
    width: 80px;
    height: 24px;
    /*background-color: #00a0dd;*/
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
}
.btn_app_shadow {
	width: 100px;
	height:33px;
    background-color: #00a0dd;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-weight: 300;
    font-size: 18px;

}
.btn_app_shadow p {
	
	
    font-weight: 400;
}
.btn_app_shadow.dark {
	/*background: linear-gradient(#00253a 0%,#004a7b 10%,#032447 100%);*/
	background: #e67e22;
    color: #FFF;
}
.btn_app_shadow.green {
	/*background: linear-gradient(#0f4200 0%,#1b9200 10%,#187400 100%);*/
	background: #27ae60;
    color: #FFF;
}
/* editor actions */
.editor_actions {
	display: none;
	position: relative;
	height: 45px;
	background-color: #00a0dd;
}
}
.editor_actions .edit_btn, .editor_actions .mode_btn {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D7D8D8), color-stop(0.25, #E8E8E8), color-stop(1, #9C9E9E));
	background-image: linear-gradient(#D7D8D8 0%, #E8E8E8 25%, #9C9E9E 100%);
	/*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);*/
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	margin: 4px 4px 4px 0;
	vertical-align: top;
	height: 34px;
	
	cursor: pointer;
}
.edit_actions {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.edit_actions .round_left {
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 5px;
	/*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);*/
	width: 50px;
}
.edit_actions .round_right {
	border-top-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0;
	margin-left: -5px;
	border-left-color: #878787;
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.75);*/
	width: 20px;
}
.edit_actions .selected {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #371F12), color-stop(1, #311F0D));
	background-image: linear-gradient(#371F12 0%, #311F0D 100%);
	border-bottom-color: #D59C74;
}
.edit_actions .intangible, .page_actions .intangible {
	opacity: 0.6;
}
.edit_actions .arrow .arrow_icon {
	width: 28px;
	height: 22px;
	background: url('/img/ipad/icons/annotate_icons.png') -32px -86px no-repeat;
	margin: 7px 11px;
}
.edit_actions .arrow.selected .arrow_icon {
	background: url('/img/ipad/icons/annotate_icons.png') 0 -84px no-repeat;
	margin: 6px 13px;
}
.edit_actions .color_icon {
	width: 11px;
	height: 10px;
	background: url('/img/ipad/icons/annotate_icons.png') -1px -51px no-repeat;
	margin: 13px 5px;
}
.edit_actions .textSelect .select_icon {
	width: 25px;
	height: 23px;
	background: url('/img/ipad/icons/annotate_icons.png') -27px 0 no-repeat;
	margin: 7px 14px;
}
.edit_actions .textSelect.selected .select_icon {
	background: url('/img/ipad/icons/annotate_icons.png') 0 0 no-repeat;
	margin: 6px 13px;
}
.edit_actions .drawing .drawing_icon {
	width: 28px;
	height: 24px;
	background: url('/img/ipad/icons/annotate_icons.png') -31px -25px no-repeat;
	margin: 7px 12px;
}
.edit_actions .drawing.selected .drawing_icon {
	background: url('/img/ipad/icons/annotate_icons.png') 0 -25px no-repeat;
	margin: 6px 13px;
}
.edit_actions .note .note_icon {
	color: #834619;
	margin: 8px 7px;
	padding-left: 2px;
}
.edit_actions .note.selected .note_icon {
	color: #ffffff;
	margin: 8px 7px;
}
.edit_actions .erase {
	width: 42px;
}
.edit_actions .erase.eraseMode {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707170), color-stop(0.25, #797979), color-stop(1, #505050));
	background-image: linear-gradient(#707170 0%, #797979 25%, #505050 100%);
}
.edit_actions .erase .erase_icon {
	width: 22px;
	height: 20px;
	background: url('/img/ipad/icons/annotate_icons.png') -1px -63px no-repeat;
	margin: 8px 10px;
}
.edit_actions .undo {
	width: 42px;
}
.edit_actions .undo.disabled {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(241, 241, 241, 0.6)), color-stop(1, rgba(183, 183, 183, 0.6)));
	background-image: linear-gradient(rgba(241, 241, 241, 0.6) 0%, rgba(183, 183, 183, 0.6) 100%);
}
.edit_actions .undo .undo_icon {
	width: 22px;
	height: 20px;
	background: url('/img/ipad/icons/annotate_icons.png') -32px -52px no-repeat;
	margin: 8px 10px;
}
.edit_actions .undo.disabled .undo_icon {
	opacity: 0.6;
}
/*************************************************************/
/*** N E W   D R A W   B U T T O N S   W /   C O L O R *******/
/*************************************************************/

.editor_actions .draw_btn {
	float: left;
	margin: 4px 4px 4px 0;
	vertical-align: top;
	height: 36px;
	
	cursor: pointer;
	/*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);*/
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.edit_actions .draw_btn.round_right {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.edit_actions .draw_btn .draw_color {
	width:39px;
	height:25px;
	position:absolute;
	top:5px;
	left:8px;
	z-index:5;
}
.edit_actions .draw_btn.down {
	width:30px;
	height:36px;
	float:left;
	position:relative;
	margin-top:4px;
	margin-left:-4px;
}
.editor_actions .draw_btn img.S {
	display:none;
}
.editor_actions .draw_btn.selected img.S,  .editor_actions .draw_btn img.U {
	display:block;
}
.editor_actions .draw_btn.selected img.U {
	display:none;
}
.edit_actions .draw_btn.selected {
	background: transparent;
}
.edit_actions .arrow.draw_btn,
.edit_actions .textSelect.draw_btn,
.edit_actions .drawing.draw_btn,
.edit_actions .note.draw_btn {
	width:53px;
	height:36px;
	float:left;
	position:relative;
	margin-top:4px;
}
.edit_actions .erase.draw_btn,
.edit_actions .undo.draw_btn,
.edit_actions .callout.draw_btn{
	width:44px;
	height:36px;
	float:left;
	position:relative;
	margin-top:4px;
}
.edit_actions .draw_btn > img {
	position:absolute;
	top:0;
	left:0;
	z-index:6;
}
.draw_btn > div.shadow, .edit_btn > div.shadow, .mode_btn > div.shadow, .btn_app_shadow > div.shadow {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	display:none;
	z-index: 25;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.draw_btn:active > div.shadow, .edit_btn:active > div.shadow, .mode_btn:active > div.shadow, .btn_app_shadow:active > div.shadow {
	display:block;
}
.btn_app_shadow, .mode_btn, .edit_btn {
	position: relative;
}
.edit_actions .callout.draw_btn {
	width: 44px;
}
/*************************************************************/
/*************************************************************/

.page_actions {
	position: absolute;
	margin: 4px 0;
	top: 0;
	right: 10px;
	font-size: 0;
	text-align: center;
}
.page_actions .removeAll {
	padding: 8px 16px;
	color: #7E5334;
	height: 18px;
	width: 52px;
	font-size: 14px;
	margin: 0;
	/*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);*/
}

.page_actions .thumbMode, .page_actions .pageMode {
	padding: 8px 16px;
	color: #7E5334;
	height: 18px;
	width: 52px;
	font-size: 14px;
	margin: 0;
	/*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);*/
	margin-right: 10px;
}

.thumbMode.restrict, .pageMode.restrict {
	display: none !important;
}

.passcodeInput {
	height: 26px;
	font-size: 14px;
	border-radius: 3px;
	padding-left: 4px;
	width: 220px;
}

.witnessListWrap {
	max-height: 102px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
}

#witnessList {
	list-style: none;
	margin: 0;
	padding: 0;
}

#witnessList li {
	list-style: none;
	margin: 0;
	padding: 2px 0;
	height: 30px;
	cursor: pointer;
}

#witnessList li .wName {
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	float: left;
	margin-left: 10px;
}

.witnessSelect .checkBtn {
	width: 30px;
	height: 30px;
	float: left;
	background: url('/img/ipad/icons/folder-actions.png') no-repeat 0 -90px;
}

.witnessSelect.selected .checkBtn {
	background-position: 0 -60px;
}

#dialogTooltip {
	display: none;
	position: absolute;
	
	/*background: url('/img/ipad/dialog/bg-popup-460x261.png') 0 0 no-repeat;*/
	background-size: 100% 100%;
	color: #FFF;
	z-index: 102;
	background:#00a0dd;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 450px;
    height: 150px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
}

#ipad_container.portrait #dialogTooltip {
	left: 154px;
}

#dialogTooltip .wrap {
	margin: 9px 21px 0 21px;
}

#dialogTooltip h2 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	margin: 25px 0 25px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#dialogTooltip .dialogMsg {
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#search_ui{


	float: left;
	height: 44px;
	position: relative; 
	top: 5px; 
	width: 100%;
}
.search_ui_wrap {white-space:nowrap;font-size:0;height:32px;/*text-align:right*/;padding-right:8px;}
.search_ui_wrap button{cursor:pointer;}
.search_ui_wrap > .search_ui_left {display:inline-block;width:350px;font-size:16px;}
#ipad_container.portrait .search_ui_wrap > .search_ui_left {width:293px;}
.search_keywords_widget {display:inline-block;background:#fff;/*border:1px solid #666;*/white-space:nowrap;width:100%;height:32px;border-radius:5px;}
.search_keywords_widget input#search_text {border:0;background:transparent;height:32px;font-size:16px;line-height:28px;width:75%;padding-left:10px;}
.search_keywords_widget input#search_text:focus, .search_ui_wrap *:focus {outline:none;}
.search_ui_wrap > .search_ui_right {display:inline-block;width:200px;font-size:16px;right:7px;text-align:right;}
.search_forward_wrap {width:100px;height:32px;text-align:center;}
.navbtn_search_prev, .navbtn_search_next{border:0;background:transparent;height:32px;width:40px;}
.navbtn_search_done{border:0;margin-top:0;}

#fsFoldersList .caseFolder .folderLabel {
	color: rgba(0,60,255,0.8);
}

#dialogSearch .popupDialog .dialogMsg {
	display: table;
    margin: 0 auto;
    width: 380px;
    height: 50px;
}

#dialogSearch .loading {
	width: 40px;
	height: 40px;
	background-size: contain;
	margin: 40px auto 0 auto;
	background: url('/img/ipad/loading_small.gif') no-repeat 0 0;
	background-position: center;
}

#dialogSearch .popupDialog h2 {
	margin: 10px 30px 0 30px;
    font-size: 24px;
    font-weight: bold;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
	    color: #00a0dd;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #00a0dd;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}



@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
   #ipad_container_frame {
    display: block;
    height: 685px;
    border: none;
    overflow: hidden;
    width: 100%;
    /*padding-bottom: 5px;
     background-color: #e7ebee; */
    /* border-top: 1px solid #00a0dd; */
	}

	.fsPanelWrap .drawerTab {
    background: url(/asset/images/horizontalTabLeft.png) no-repeat 0 0;
    background-size: contain;
    /* right: 770px; */
    left: 56%;
	}

.fileSelectPanel {
    width: 550px;
    height: 500px;
    background: #00a0dd;
    position: absolute;
    top: 70px;
    left: 0px;
    color: #000;
    border: 3px solid #00a0dd;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.fsPanelWrap .drawerTab {
	background: url('/asset/images/horizontalTabLeft.png') no-repeat 0 0;
	background-size: contain;
	right: 770px;
	left: 56%;
}

.drawerTab {
	float: left;
	background: url('/asset/images/horizontalTabRight.png') no-repeat 0 0;
	background-size: contain;
	position: absolute;
	width: 22px;
	height: 57px;
	cursor: pointer;
	z-index: 1;
	top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
}
	
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */

   #ipad_container_frame {
    display: block;
    height: 685px;
    border: none;
    overflow: hidden;
    width: 100%;
    /*padding-bottom: 5px;
     background-color: #e7ebee; */
    /* border-top: 1px solid #00a0dd; */
	}

.fileSelectPanel {
    width: 550px;
    height: 500px;
    background: #00a0dd;
    position: absolute;
    top: 70px;
    left: 0px;
    color: #000;
    border: 3px solid #00a0dd;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.drawerTab {
	float: left;
	background: url('/asset/images/horizontalTabRight.png') no-repeat 0 0;
	background-size: contain;
	position: absolute;
	width: 22px;
	height: 57px;
	cursor: pointer;
	z-index: 1;
	top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
}

}