h1 {
	margin: 0px;
	line-height: 65px;
}

#content_header {

}

#content_header #heading-wrapper {
	/*box-shadow: 0 5px 10px rgba(45, 45, 45, 0.4);*/
	margin-top: 20px;
	margin-left: 20px;
}

#heading-wrapper h1 {

	margin: 0px;
	font-weight: bold;
	font-size: 20px;
}

#content_header .browse_instructions {
	
}

#content_header .browse_instructions p {
	margin: 0px;
	line-height: 30px;	
	margin-left: 20px;
	font-weight: bold;
	font-size: 14px;
}

#show_depositions {
	position: relative;
	margin: 0 10px;
	height: 600px;
}

#list_cases {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 275px;
	height: 100%;
	background: url('/img/ipad/table_small_bg.png') no-repeat 0 0;
	background-size: 100% 100%;
}

#list_cases ul {
	margin: 10px 16px 20px 10px;
	padding: 0;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: auto;
	height: 570px;
}

#list_cases ul li {
	margin: 0 2px 0 0;
	padding: 8px 10px;
	line-height: 36px;
	border-bottom: 1px solid #ddc;
	color: rgba(62,62,62,0.8);
	font-weight: bold;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#list_cases ul li.toggled {
	background: url('/img/ipad/casecell_bg.png') no-repeat 0 0;
	background-size: 100% 100%;
	color: #000;
}

#list_cases ul li div {
	height: 36px
}

#list_cases ul li div p {
	line-height: 24px;
}

#list_cases ul li div p.case_number {
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
}

#list_depositions {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 715px;
	height: 100%;
	background: url('/img/ipad/table_wide_bg.png') no-repeat 0 0;
	background-size: 100% 100%;
}

#list_depositions ul {
	margin: 10px 18px 20px 7px;
	padding: 0;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: auto;
	height: 570px;
}

#list_depositions ul li {
	margin: 2px 20px 0 2px;
	padding: 0;
	height: 50px;
	border-right: none;
	border-bottom: 1px solid #ddd;
	border-left: none;
	color: rgba(62,62,62,0.8);
	font-size: 14px;
}

#list_depositions ul li div {
	display: inline-block;
	vertical-align:top;
}

#list_depositions ul li div.depo_name {
	width: 48%;
}

#list_depositions ul li div.depo_info {
	width: 20%;
}

#list_depositions ul li div.depo_actions {
	width: 8%;
}

#list_depositions ul li div p {
	line-height: 50px;
	text-align:center;
	width: 100%;
}

#list_depositions ul li div.depo_name > div {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
}

#list_depositions ul li div.depo_name p {
	margin-left: 30px;
	text-align: left;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#browsePanel {
	position: absolute;
	top: 152px;
	bottom: 0;
	right: 0;
	left: 0;
}

#browsePanel .casesPanel {
	position: relative;
	float: left;
	width: 240px;
	height: 100%;
	/*background: url('/img/ipad/table_small_bg.png') no-repeat 0 0;*/
	background-size: 100% 100%;
	background-color: #FFF;
	/*padding-top: 20px;*/
	box-shadow: 3px 3px 18px rgba(0,0,0,0.15);
}

#browsePanel .deposPanel {
	position: relative;
	height: 100%;
	margin-left: 250px;
	margin-right: 10px;
    height: 100%;
    /* background: url(/img/ipad/table_small_bg.png) no-repeat 0 0; */
    background-size: 100% 100%;
    background-color: #FFF;
    padding-top: 90px;
	box-shadow: 3px 3px 18px rgba(0,0,0,0.15);
}

#casesList {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 15px;
}

#deposList {
	height: 100%;
	background-size: 100% 100%;
}

#casesList ul, #deposList ul {
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#casesList ul {
	margin: 11px 17px 22px 9px;
}

#casesList ul li {
	border: 1px solid #ddc;
	height: 40px;
	color: #00a0dd;
	
	position: relative;
	display: table;
	table-layout: fixed;
	width: 99%;
	margin: 2px;
}

#casesList ul li.case, #deposList ul li.depo {
	cursor: pointer;
}

#casesList ul li.selected {
	background-color: #D0D9D9;
	height: 40px;
    border-radius: 0px;
    padding-left: 0;
    width: 99%;
    text-align: left;
    padding-right: 0;
    position: relative;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
	border-left-color: #00a0dd;
    border-left-width: 5px;
}

#casesList ul li > .caseLabel {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 3px 0 15px;
	line-height: 25px;
	margin-top: 5px;
}

.caseLabel p.caseName {
	line-height: 25px;
	margin-top: 5px;
}

#deposList ul {
	margin: 12px 19px 21px 10px;
}

#deposList ul.loading {
	background: url('/img/ipad/loading2.gif') no-repeat 0 0;
	background-position: center;
}

#deposList ul li {
	border: 1px solid #ddc;
	height: 40px;
	color: #00a0dd;
	
	position: relative;
	display: table;
	table-layout: fixed;
	width: 99%;
	margin: 2px;
}

#deposList ul li.deposition {
	cursor: pointer;
}

#deposList ul li .depoName {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}

#deposList ul li.add .depoName {
	color: blue;
}

.depoName .witness {
	line-height: 25px;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}

#deposList ul li .volume {
	display: table-cell;
	width: 110px;
	vertical-align: middle;
	color: #777;
}

#deposList ul li .depoDate {
	display: table-cell;
	width: 120px;
	vertical-align: middle;
}

