section {
	position: relative;
}

#status_view_controls {
	box-shadow: 0 5px 10px rgba(45, 45, 45, 0.4);
}

#status_view_controls ul {
	margin: 0 auto;
	padding: 10px 0;
	width: 340px;
	list-style-type: none;
	font-size: 0;
	text-align: center;
	/*text-shadow: 1px 1px #000;*/
}

#status_view_controls ul li {
	display: inline-block;
	width: 140px;
	padding: 0 12px;
	font-size: 19px;
	font-style: italic;
	line-height: 42px;
	border: 1px solid #000;
	background: #37d;
	background: -o-linear-gradient(top, #49f 0%, #25c 99%);
	background: -webkit-linear-gradient(top, #49f 0%, #25c 99%);
	background: -ms-linear-gradient(top, #49f 0%, #25c 99%);
	background: linear-gradient(to bottom, #49f 0%, #25c 99%);
	cursor: pointer;
}

#status_view_controls ul li.inactive {
	background: #135;
	background: radial-gradient(ellipse at center,  #124 0%, #136 99%);
	background: -o-linear-gradient(top, #004 0%, #147 50%, #004 99%);
	background: -webkit-linear-gradient(top, #004 0%, #147 50%, #004 99%);
	background: -ms-linear-gradient(top, #004 0%, #147 50%, #004 99%);
	background: linear-gradient(to bottom, #004 0%, #147 50%, #004 99%);
}

#status_view_new {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#status_view_past {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#lists_header {
	margin: 0 10px;
}

#lists_header p {
	line-height: 20px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

#lists_header h1 {
	margin: 2px 0;
	line-height: 48px;
}

.depo_actions .depo_go {
	background-position: center center;
	width: 100%;
	height: 50px;
}

#depo_status {
	padding-left: 10px;
}

.tablesPanel {
	height: 100%;
	/*margin-top: 20px;
	box-shadow: 3px 3px 18px rgba(0,0,0,0.15);*/
}

.tablesPanel .casesPanel {
	position: relative;
	float: left;
	width: 240px;
	height: 100%;
	/*background: url('/img/ipad/table_small_bg.png') no-repeat 0 0;*/
	background-size: 100% 100%;
	background-color: #FFF;
	/*padding-top: 20px;*/
	box-shadow: 3px 3px 18px rgba(0,0,0,0.15);
}

.tablesPanel .casesPanel_sidebar {
	position: relative;
	float: left;
	width: 240px;
	height: 100%;
	/*background: url('/img/ipad/table_small_bg.png') no-repeat 0 0;*/
	background-size: 100% 100%;
	background-color: #FFF;
}

.tablesPanel .deposPanel {
	position: relative;
	height: 100%;
	margin-left: 250px;
    height: 100%;
    /* background: url(/img/ipad/table_small_bg.png) no-repeat 0 0; */
    background-size: 100% 100%;
    background-color: #FFF;
    padding-top: 90px;
	box-shadow: 3px 3px 18px rgba(0,0,0,0.15);
}

.tablesPanel .legends {
	height: 18px;
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 12px 0 0 15px;
}

.tablesPanel .legends > div {
	line-height: 18px;
	display: table-cell;
	color: #00a0dd;
	font-size: 14px;
	font-weight: bold;
	/*text-shadow: 1px 1px rgba(45,45,45,1);*/
}

.tablesPanel .legends .caseLegend {
	width: 300px;
}

#casesList {
	position: relative;
    top: 20px;
    left: 0;
    height: 75%;
    font-size: 14px;
    /* border-right: 5px solid #00a0dd; */
    /* box-shadow: 3px 3px 18px rgba(0,0,0,0.15);*/
}

#deposList {
	position: relative;
    top: -35px;
    left: 0;
    height: 100%;
    font-size: 14px;
    /* border-right: 5px solid #00a0dd; 
    box-shadow: 3px 3px 18px rgba(0,0,0,0.15);*/
}

#casesList ul, #deposList ul {
	list-style-type: none;
	/*	overflow-x: hidden;*/
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#casesList ul {
	margin: 55px 5px -100px 5px;
}

#casesList ul li {
	border: 1px solid #ddc;
	height: 40px;
	color: #00a0dd;
	
	position: relative;
	display: table;
	table-layout: fixed;
	width: 99%;
	margin: 2px;
}

#casesList ul li.sortable, #deposList ul li.sortable {
	cursor: pointer;
	height: 40px;
}

#casesList ul li:last-child {
	/*border-bottom: none;*/
}

#casesList ul li.selected {
    
	background-color: #D0D9D9;
	height: 40px;
    border-radius: 0px;
    padding-left: 0;
    width: 99%;
    text-align: left;
    padding-right: 0;
    position: relative;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
	border-left-color: #00a0dd;
    border-left-width: 5px;
}

#casesList ul li > .caseLabel {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 3px 0 18px;
}

.caseLabel p.caseName {
	line-height: 25px;
	margin-top: 5px;
}

#casesList .caseNumber {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 3px 0 25px;
	line-height: 15px;
	font-size: 13px;
	font-weight: 400;
	color: #000;
}

#deposList ul {
	margin-top: 20px;
    margin-bottom: -15px;
}

#deposList ul.loading {
	background: url('/img/ipad/loading2.gif') no-repeat 0 0;
	background-position: center;
}

#deposList ul li {
	position: relative;
	height: 40px;
	border: 1px solid #ddc;
    margin: 2px;
	font-size: 14px;
	/*display: list-item;*/
	display: table;
	table-layout: fixed;
	width: 99%;
	color: #00a0dd;
}

#deposList ul li .status {
	display: table-cell;
	vertical-align: top;
	width: 40px;
}

#deposList ul li .depoName {
	display: table-cell;
	vertical-align: top;
}

.depoName .witness {
	
    font-size: 14px;
    
    /* padding-top: 3px; */
    height: 15px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.depoName .witness span {
	margin: 0 3px 0 0;
}

.depoName .depoType {
	
	color: #444;
	font-weight: 400;
	margin-top: 5px;
}

.depoName .depoType span {
	margin: 0 3px 0 0;
	color: #aaa;
	font-weight: 400;
}

#deposList ul li .depoStatus {
	display: table-cell;
	vertical-align: top;
	width: 70px;
	color: #000;
	font-weight: 400;
	text-align: right;
}

#deposList ul li .depoStatus p {
	position: relative;
	height: 25px;
	top: 10px;
	float: left;
}

#deposList ul li .depoVolDate {
	display: table-cell;
	width: 85px;
	vertical-align: middle;
	color: #444;
	text-align: right;
	padding-right: 20px
}

#deposList ul li .depoVolume {
	line-height: 20px;
	color: #333;
	font-weight: 400;
	white-space: nowrap;
}

#deposList ul li .depoDate {

	color: #000;
	font-weight: 400;
}

#deposList ul li .depoActions {
	display: table-cell;
	vertical-align: top;
	width: 30px;
}

.depoActions .depoGo {
	background: url('/img/ipad/icons/deposition-cell-arrow.png') no-repeat;
	width: 10px;
	height: 14px;
	position: absolute;
	top: 0;
	margin: 15px 0 0 4px;
}

#deposList ul li p.fixme {
	color: rgba(62,62,62,0.8);
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#deposList ul li.selected p {
	color: #000;
}

#caseMessage {
	position: absolute;
	top: 35%;
	color: rgba(0,0,0,0.4);
	text-align: center;
	width: 100%;
	font-style: italic;
}

.depoStatusI .statusIcon {
	position: absolute;
	top: 0;
	background: url('/img/ipad/icons/active-deposition-icon.png') no-repeat;
	width: 17px;
	height: 17px;
	margin: 15px 0 0 12px;
}

#drag_image {
	color: rgb(62,62,62);
	background-color: #f4f4f4;
	z-index: -10;
	position: absolute;
	top: 2000px;
	left: 0;
	height: 20px;
	width: 200px;
	padding: 18px;
	font-weight: bold;
	list-style-type: none;
	border: 1px solid #ddd;
	border-radius: 5px;
}

#drag_image p {
	margin: 0;
}

#deposList li.section {
	height: 30px;
}

#deposList li.section div.section {
	text-align: center;
	line-height: 30px;
	background-color: #ddd;
	font-weight: 400;
	border: 1px solid #aaa;
	border-radius: 3px;
	font-size: 14px;
}