#attendee_bar {
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 50px;
	border-top: 3px solid rgb(48, 36, 12);
	background-color: rgb(80, 45, 20);
	box-shadow: 0 -5px 10px rgba(45, 45, 45, 0.4);
}