.content_search_container {
	display: none !important;
	float: right;
	margin-right: 8px;
}
.search_bar_container {
	float: left;
	margin-top: 10px;
	position: relative;
}
#content_search {
	height: 24px;
	font-size: 14px;
	padding: 0 30px 0 6px;
	border-radius: 6px;
}
#clear_search {
	width: 20px;
	height: 20px;
	background: url('/img/ipad/button/ConfigureSearch.png') no-repeat 0px 0px;
	background-size: contain;
	cursor: pointer;
}
.configure_search_icon {
	float: left;
	width: 32px;
	height: 32px;
	margin: 8px 0 0 8px;
	background: url('/img/ipad/button/ConfigureSearch.png') no-repeat 0px 0px;
	background-size: contain;
	cursor: pointer;
}
.clear_button {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 5px 5px 0 0;
	background: url('/img/ipad/button/clearButton.png') no-repeat 0px 0px;
	background-size: contain;
	cursor: pointer;
	top: 0;
	right: 80px;
}
.csDoneBtn {
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	border: 1px solid #111;
	color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4291FF), color-stop(1, #27E));
	background-image: -webkit-linear-gradient(top, #4291FF 0%, #27E 50%);
	background-image: linear-gradient(#0A68E9 0%, #0549A7 50%);
}
#done_search {
	display: none;
	width: 68px;
	height: 26px;
	line-height: 26px;
	position: absolute;
    right: 50px;
	margin: 10px 0 0 10px;
}
#apply_options {
	float: right;
	width: 292px;
	height: 22px;
	line-height: 20px;
	margin: 6px 0 6px 0px;
}
#content_search.active {
	width: 250px;
	margin-right: 80px;
}
.fileSelectPanel #content_search.active {
	width: 220px;
	margin-right: 80px;
}
#content_search.inactive {
	width: 150px;
}
.fileSelectPanel #done_search {
	right: 40px;
}
.cs_popup_container {
	display: none;
	z-index: 101;
}
.cs_popup_container .shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(/img/ipad/000000-0.2.png) 0 0 repeat;
	z-index: 101;
}
.cs_popup {
	background-color: #d5d5d5;
	border: 1px solid #000;
	border-radius: 8px;
	position: absolute;
	z-index: 101;
}
.cs_popup_options {
	height: 70px;
	margin: 6px;
	background-color: #fff;
	color: #000;
	font-size: 15px;
	border: 1px solid #000;
	border-radius: 8px;
	z-index: 101;
}
.cs_popup_options.top {
	margin-bottom: 0;
}
.cs_option_row {
	height: 32px;
	margin: 2px 0 0 2px;
	cursor: pointer;
}
.cs_btn_row {
	height: 32px;
	margin: 2px 0 0 0;
}
.cs_popup_options .radio {
	float: left;
	width: 32px;
	height: 32px;
	background: url('/img/ipad/button/RadioButtonEmpty.png') no-repeat 0px 0px;
	background-size: contain;
}
.cs_popup_options .radio.checked {
	background: url('/img/ipad/button/RadioButtonSelected.png') no-repeat 0px 0px;
	background-size: contain;
}
.cs_popup_options .checkBox {
	width: 32px;
	height: 32px;
	float: left;
	background: url('/img/ipad/button/CheckboxEmpty.png') no-repeat 0px 0px;
	background-size: contain;
}
.cs_popup_options .checkBox.checked {
	background: url('/img/ipad/button/CheckboxSelected.png') no-repeat 0px 0px;
	background-size: contain;
}
.cs_popup_options .option_text {
	width: 260px;
	margin-top: 5px;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#sortCSFiles {
	display: none;
}

.tablesPanel.contentSearch #sortCSFiles, .fsTablesPanel.contentSearch #sortCSFiles {
	display: inline-block;
}

.fileSelectPanel .content_search_container {
	position: absolute;
	right: 8px;
	z-index: 2;
}