#content {
	height: 100%;
	/*background-color: #f8f9fa;*/
}

#deposition_content {
	height: 100%;
}


#deposition_content {
	/*border-bottom: 1px solid #000;
	box-shadow: 0 2px 5px rgba(45, 45, 45, 1);*/
	height: 33px;
	color: #fff;
	font-weight: 300;
	background-color:#FFF;
	position: relative;
}

#depositions_header {
	/*border-bottom: 1px solid #000;
	box-shadow: 0 2px 5px rgba(45, 45, 45, 1);*/
	height: 33px;
	color: #5b5c68;
	font-weight: 300;
	position: relative;
	background-color:#FFF;
    padding-left: 10px;
	background-color: #F1F1F1;
}

#deposition_content #depositions_header #deposition_info {
	/*float: left;*/
}

#deposition_content #depositions_header #deposition_info.hidePresentationBtn {
}

#deposition_content #depositions_header #deposition_info.showPresentationBtn {
}

#deposition_content #depositions_header p {
	display: inline-block;
	font-size: 15px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 12px 0 0;
	color: #000;
	font-weight:400;
}

#deposition_content #depositions_header #attend_presentation {
	margin: 0px 15px 0 10px;
	width: 27px;
	height: 33px;
	cursor: pointer;
	background: url('/img/ipad/icons/presentation-buttons.png') 0 -235px no-repeat;
	float: left;
}

#deposition_content #depositions_header #attend_presentation.notActive {
	cursor: default;
}

#deposition_content #depositions_header #attend_presentation.available {
	background: url('/img/ipad/icons/presentation-buttons.png') 0 -202px no-repeat;
}

#deposition_content #depositions_header p.deposition_name {
	max-width: 460px;
}

#deposition_content #depositions_header p.deposition_name {
	max-width: 460px;
}

#deposition_content #depositions_header p.deposition_number {
	max-width: 200px;
}

#deposition_content #depositions_header p.deposition_passcode {
	width: 28px;
	height: 28px;
	background: url('/asset/images/DepositionInfo.png') no-repeat 0 0;
	background-size: 100% 100%;
	cursor: pointer;
	display: none;
	
}

#deposition_content #depositions_header p.deposition_passcodetitle {
	
	display: none;
	
}

#deposition_content #depositions_header #btn_start_deposition {
	display: inline-block;
	float: right;
	display: none;
}

#deposition_content #depositions_header #btn_finish_deposition {
	display: inline-block;
	float: right;
	display: none;
}

.btn_finish {
	display: inline-block;
    /*margin-top: 5px;*/
    margin-right: 5px;
    width: 110px;
    line-height: 33px;
    background: linear-gradient(#F00 0%, #F00 100%);
    color: #fff;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.btn_start {
	
	display: inline-block;
    /*margin-top: 5px;*/
    margin-right: 5px;
    width: 110px;
    line-height: 33px;
    background: #00a0dd;
    color: #fff;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.tablesPanel {
	/*padding-top: 40px;*/
	height: 530px;
	background: #FFF;
	margin: 2px;
	color: #000;
}

.tablesPanel > div {
	position: relative;
}

.tablesPanel fieldset {
	padding-top: 10px;
	border: 0;
	height: 587px;
}

.tablesPanel #folders.sortHeader {
	position: absolute;
	top: 10px;
	left: 9px;
	width: 251px;
	font-size: 14px;
}

#foldersList {
	position: relative;
    top: 25px;
    left: 0;
    height: 100%;
    font-size: 14px;
    /* border-right: 5px solid #00a5e4; 
    box-shadow: 3px 3px 18px rgba(0,0,0,0.15);*/
}

.tablesPanel #files.sortHeader {
	font-size: 14px;
}

.tablesPanel #files.sortHeader.showSocialList {
	width: 464px;
}

#filesList {
	position: relative;
    top: 25px;
    left: 0;
    height: 100%;
    font-size: 14px;
    /* border-right: 5px solid #00a5e4; 
    box-shadow: 3px 3px 18px rgba(0,0,0,0.15);*/
}

.tablesPanel fieldset legend {
	position: absolute;
	margin: -34px 0 0 7px;
	line-height: 28px;
	font-size: 14px;
	text-shadow: 1px 1px #000;
}

#foldersList ul, #filesList ul {
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#foldersList ul {
	margin: 50px 5px 22px 5px;
}

#foldersList ul li.sortable, #filesList ul li.sortable {
	cursor: pointer;
	height: 40px;
}

#foldersList ul li {
	/*padding: 5px 0 0 10px; */
    /* border-bottom: 1px solid #ddc; */
    height: 40px;
    color: #000;
    font-weight: 400;
    position: relative;
    /* display: table; */
    table-layout: fixed;
    width: 100%;
    border: 1px solid #ddc;
    /* margin: 2px; */
    margin-bottom: 2px;

}

#foldersList ul li:last-child {
	/*border-bottom: none;*/
}

#foldersList ul li.selected {
	background-color: #D0D9D9;
    border-radius: 3px;
    padding-left: 0;
    width: 100%;
    text-align: left;
    padding-right: 0;
    position: relative;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
	border-left-color: #00a0dd;
    border-left-width: 5px;
}

#foldersList ul li.caseFolder {
	color: rgba(0,60,255,0.8);
}

#foldersList ul li > .folderLabel {
	/*vertical-align: middle;*/
	/*height: 36px;*/
	/*max-width: 245px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 3px 0 15px;
}

.folderLabel p.folderName {
	line-height: 25px;
	margin-top: 5px;
	overflow: hidden;
}

#foldersList ul li > .folderLabel p.blockLabel {
	/*padding-top: 5px;*/
	font-size: 11px;
	font-weight: 600;
}

#filesList ul {
	margin: 50px 5px;
    margin-bottom: 75px;
}

#content.witness #filesList ul {
	margin-top: 11px;
	margin-bottom: 20px;
}

#filesList ul.loading {
	background: url('/img/ipad/loading2.gif') no-repeat 0 0;
	background-position: center;
}

#filesList ul li {
	position: relative;
	height: 40px;
	border: 1px solid #ddc;
	margin-bottom:2px;
	font-size: 14px;
	/*display: list-item;*/
	display: table;
	table-layout: fixed;
	width: 99%;
}

#filesList ul li.selected {
	background-color: #D0D9D9;
    border-radius: 3px;
    padding-left: 0;
    width: 99%;
    text-align: left;
    padding-right: 0;
    position: relative;
}

#filesList ul li p {
	color: #000;
	/*line-height: 25px;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    margin: 0;
}

#filesList ul li.selected p {
	color: #444;
}

#filesList ul li p.fileName {
	font-weight: 400;
	font-size: 15px;
	/*background: url('/asset/images/acdoc.png');
	padding-left: 26px;*/
    background-repeat: no-repeat;
    background-position: left center;    
    background-size: 18px;
}

#filesList ul li > div {
	/*vertical-align: middle;*/
}

#filesList ul li div.file_info {
	display: table-cell;
	padding: 0 3px 0 15px;
}

#filesList ul li div.file_info.compressed {
	max-width: 305px;
}

#filesList ul li div.file_info span {
	display: inline-block;
}

#filesList ul li p.exhibitHistory {
	font-weight: 400;
	font-size: 10px;
}

#depositions_footer {
	position: absolute;
	bottom: 12px;
	left: 0;
	width: 99%; /* adjust for IE to prevent minor panning */
	display: none;
}

#depositions_footer #powered_by_logo_footer {
	width: 240px;
	height: 29px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
}

/* Style for the PDF file viewer */
#file_contents {
	position: relative;
	/*box-shadow: 0 5px 10px rgba(45, 45, 45, 0.4) inset;*/
	/*height: 100%;*/
	height: 100%;
}

#content #file_contents.fullscreen {
	height: 100%;
}

#content #file_contents.introduce {
	height: 718px;
}

#content.portrait.fullscreen #file_contents {
	height: 1024px;
}

#file_contents.fullscreen #editor_actions {
	display: none;
}

#file_contents.fullscreen #editor_contents {
	margin: 0;
	height: 100%;
}

#file_contents.fullscreen #doc_viewer {
	width: 100%;
	height: 100%;
}

#file_contents.fullscreen #depositions_footer {
	display: none;
}

#file_contents.passAnnotator #edit_actions {
	display: none;
}
#file_contents.passAnnotator #page_actions {
	display: none;
}

#editor_actions {
	position: relative;
	height: 45px;
}

#editor_contents {
	/*margin: 0 5px;*/
	margin: 0;
	height: 100%;
}

#editor_contents > div {

}

#doc_title {
	margin: 0 220px 0 0;
	width: 475px;
	line-height: 49px;
	overflow: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#doc_viewer {
	width: 100%;
	background: #F8F9Fa;
	/*border:1px solid black;*/
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content.portrait #doc_viewer {
	width: 768px;
	height: 929px;
}

#content.portrait #file_contents.fullscreen #doc_viewer {
	width: 100%;
	height: 100%;
}

#doc_viewer_frame {
	
	height: 100%;	
	background-color: #fff;
	border: none;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
	/*padding-bottom: 30px;*/

}

#file_contents.introduce #doc_viewer_frame {
	/*height: 716px;*/
}

#content #file_contents.fullscreen #doc_viewer_frame {
	width: 100%;
	height: 100%;
}

#content.portrait #doc_viewer_frame {
	width: 100%;
	height: 100%;
}


#doc_viewer.introduce {
	height: 716px;
}

#content.portrait #doc_viewer.introduce {
	height: 929px;
}

#page_actions {
	position: absolute;
	margin: 4px 0;
	top: 0;
	right: 10px;
	font-size: 0;
	text-align: center;
}

#page_actions div.app_bttn {
	display: inline-block;
	margin-right: 10px;
	width: 100px;
	font-size: 17px;
	line-height: 38px;
	text-align: center;
}

#page_actions div.app_bttn:last-child {
	margin-right: 0;
}

#page_actions div.app_bttn.disabled {
	background-image: linear-gradient(rgba(241, 241, 241, 0.4) 0%, rgba(183, 183, 183, 0.4) 100%);
	border-radius: 5px;
}

#sendFile {

}

#saveFile {

}

#doc_viewer a, #doc_viewer a.link, #doc_viewer a.visited, #doc_viewer a.hover, #doc_viewer a.focus {
	color: #00f;
	text-decoration: underline;
}


iframe.introduce {
	width: 1004px;
	height: 615px;
}

#edit_actions {
	position: absolute;
	width: 512px;
	margin-left: 10px;
}

#editor_actions .edit_btn {
	background-image: linear-gradient(to bottom, #D7D8D8 0%, #E8E8E8 25%, #9C9E9E 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D7D8D8), color-stop(0.25, #E8E8E8), color-stop(1, #9C9E9E)); /* iOS 6 browser */
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 4px 0;
	vertical-align: top;
	height: 36px;
	font-style: italic;
	cursor: pointer;
}

#edit_actions .round_left {
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
}

#edit_actions .round_right {
	border-top-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0;
	margin-left: -5px;
	border-left-color: #878787;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.75);
}

#edit_actions #arrow {
	width: 50px;
}

#edit_actions #arrow_icon {
	width: 28px;
	height: 22px;
	background: url('/img/ipad/icons/annotate_icons.png') -32px -86px no-repeat;
	margin: 8px 11px;
}

#edit_actions #arrow.selected {
	background-image: linear-gradient(to bottom, #371F12 0%, #311F0D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #371F12), color-stop(1, #311F0D));
	border-bottom-color: #D59C74;
}

#edit_actions #arrow.selected > #arrow_icon {
	background: url('/img/ipad/icons/annotate_icons.png') 0 -84px no-repeat;
	margin: 6px 13px;
}

#edit_actions #colorArrow {
	width: 20px;
}

#edit_actions #textSelect {
	width: 50px;
}

#edit_actions #select_icon {
	width: 25px;
	height: 23px;
	background: url('/img/ipad/icons/annotate_icons.png') -27px 0 no-repeat;
	margin: 8px 14px;
}

#edit_actions #textSelect.selected {
	background-image: linear-gradient(to bottom, #371F12 0%, #311F0D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #371F12), color-stop(1, #311F0D));
	border-bottom-color: #D59C74;
}

#edit_actions #textSelect.selected > #select_icon {
	background: url('/img/ipad/icons/annotate_icons.png') 0 0 no-repeat;
	margin: 6px 13px;
}

#edit_actions #colorSelect {
	width: 20px;
}

#edit_actions #color_icon {
	width: 11px;
	height: 10px;
	background: url('/img/ipad/icons/annotate_icons.png') -1px -51px no-repeat;
	margin: 14px 5px;
}

#edit_actions #drawing {
	width: 50px;
}

#edit_actions #drawing_icon {
	width: 28px;
	height: 24px;
	background: url('/img/ipad/icons/annotate_icons.png') -31px -25px no-repeat;
	margin: 8px 12px;
}

#edit_actions #drawing.selected {
	background-image: linear-gradient(to bottom, #371F12 0%, #311F0D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #371F12), color-stop(1, #311F0D));
	border-bottom-color: #D59C74;
}

#edit_actions #drawing.selected > #drawing_icon {
	background: url('/img/ipad/icons/annotate_icons.png') 0 -25px no-repeat;
	margin: 6px 13px;
}

#edit_actions #colorDraw {
	width: 20px;
}

#edit_actions #note {
	width: 50px;
}

#edit_actions #note_icon {
	color: #834619;
	margin: 9px 7px;
	padding-left: 2px;
}

#edit_actions #note.selected {
	background-image: linear-gradient(to bottom, #371F12 0%, #311F0D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #371F12), color-stop(1, #311F0D));
	border-bottom-color: #D59C74;
}

#edit_actions #note.selected > #note_icon {
	color: #ffffff;
	margin: 11px 7px;
}

#edit_actions #colorNote {
	width: 20px;
}

#edit_actions #undo {
	width: 42px;
}

#edit_actions #undo_icon {
	width: 22px;
	height: 20px;
	background: url('/img/ipad/icons/annotate_icons.png') -32px -52px no-repeat;
	margin: 9px 10px;
}

#edit_actions #undo.disabled {
	background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0.4) 0%, rgba(183, 183, 183, 0.4) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(241, 241, 241, 0.4)), color-stop(1, rgba(183, 183, 183, 0.4)));
}

#edit_actions #erase {
	width: 42px;
}

#edit_actions #erase_icon {
	width: 22px;
	height: 20px;
	background: url('/img/ipad/icons/annotate_icons.png') -1px -63px no-repeat;
	margin: 9px 10px;
}

#edit_actions #erase.eraseMode {
	background-image: linear-gradient(to bottom, #707170 0%, #797979 25%, #505050 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707170), color-stop(0.25, #797979), color-stop(1, #505050));
}

#editor_actions #removeAll {
	padding: 9px 18px;
	color: #7E5334;
	height: 18px;
	width: 52px;
	font-size: 14px;
	margin: 0;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
}

#fullscreenToolBar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

#fullscreenToolBar .background {
	/*background: url('/img/ipad/888888-0.5.png') 0 0 repeat;*/
}

#ipad_toolbar {
	position: relative;
	height: 44px;
	font-size: 0;
}

#toolbar_left, #toolbar_right {
	height: 100%;
	vertical-align: top;
}

#ipad_toolbar .title_container {
	float: left;
	position: relative;
	left: 230px;
	padding: 10px;
}

#toolbar_title {
	position: relative;
	float: left;
	left: -50%;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 300px;
	
}

#toolbar_left {
	position: absolute;
	top: 0;
	left: 18px;
	width: 420px;
	z-index: 100;
}

#toolbar_middle {
	padding: 10px 0;
	position: relative;
	float: left;
	left: 50%;
}

#toolbar_right {
	position: absolute;
	top: 0;
	right: 10px;
	width: 330px;
	text-align: right;
	z-index: 100;
}

#toolbar_left .toolbar_btn {
	margin-right: 15px;
	margin-top: 7px;
	display: inline-block;
}

#toolbar_right > * {
	display: inline-block;
	vertical-align: top;
	
	font-size: 14px;
	line-height: 44px;
}

#toolbar_left .toolbar_btn a,
#toolbar_left .toolbar_btn div p {
	text-decoration: none;
}

#ipad_navbtn_back {
	background: url('/img/ipad/button/back_button_bg_shadow.png') no-repeat 0 0;
	width: 73px;
	height: 39px;
	padding-top: 3px;	/* Recenter button under the text. */
	margin-top: -3px;
}

#ipad_navbtn_download {
	background: url('/img/ipad/icons/download.png') no-repeat 0 0;
	background-size: 100% 100%;
	width: 27px;
	height: 30px;
	cursor: pointer;
}

#ipad_navbtn_search {
	background: url('/img/ipad/icons/download.png') no-repeat 0 0;
	background-size: 100% 100%;
	width: 27px;
	height: 30px;
	cursor: pointer;
}

#ipad_navbtn_normalscreen {
	background: url('/img/ipad/icons/view-icons.png') no-repeat 0 -33px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
	width: 32px;
	height: 32px;
	cursor: pointer;
}

#ipad_navbtn_presentation {
	background: url('/img/ipad/icons/presentation-buttons.png') no-repeat 0 -108px;
	width: 27px;
	height: 31px;
	cursor: pointer;
}

#ipad_navbtn_full_presentation {
	background: url('/img/ipad/icons/presentation-buttons.png') no-repeat 0 -108px;
	width: 27px;
	height: 31px;
	cursor: pointer;
}

#ipad_navbtn_full_presentation.active {
	background: url('/img/ipad/icons/presentation-buttons.png') no-repeat 0 -76px;
}

#ipad_navbtn_full_pass_annotation {
	background: url('/img/ipad/icons/presentation-buttons.png') no-repeat 0 -140px;
	opacity: 0.6;
	width: 37px;
	height: 30px;
	cursor: pointer;
}

#ipad_navbtn_full_pass_annotation.active {
	opacity: 1.0;
}

#ipad_navbtn_full_pass_annotation.revoke {
	background-position: 0 -171px;
	opacity: 1.0;
}

#ipad_navbtn_introduce, #ipad_navbtn_send, #ipad_navbtn_save {
	width: 90px;
	height: 35px;
	text-align: center;
	cursor: pointer;
	margin-top: 7px;
	margin-left: 15px;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
}

#ipad_navbtn_introduce {
	display: none;
}

#ipad_navbtn_back p {
	padding: 1px 0px 0px 24px;
	
}

#ipad_toolbar p {
	margin: 0;
	font-size: 14px;
	line-height: 28px;
	font-weight: 500;
}

#ipad_navbtn_introduce p, #ipad_navbtn_send p, #ipad_navbtn_save p  {
	line-height: 35px;
	font-weight: normal;
	font-size: 17px;
	font-style: italic;
}

.btn_app_normal {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #167FCA), color-stop(1, #095CB4));
	background-image: linear-gradient(to bottom, #167FCA 0%, #095CB4 100%);
	border-radius: 9px;
}

.saveDisabled {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1B496B), color-stop(1, #193C62));
	background-image: linear-gradient(to bottom, #1B496B 0%, #193C62 100%);
	color: #7b7c7e;
}

#fileName {
	font-size: 15px;
	padding: 5px 0px;
}

.fileSelect {
	display: none;	/* table-cell */
	width: 50px;
	line-height: 50px;
	z-index: 10;
}

.fileSelect .checkBtn {
	width: 30px;
	height: 30px;
	background: url('/img/ipad/icons/folder-actions.png') no-repeat 0 -90px;
	position: absolute;
	top: 4px;
	left: 11px;
}

.fileSelect.selected .checkBtn {
	background-position: 0 -60px;
}

#filesList ul.selectEdit .fileSelect {
	display: table-cell;
	width: 40px;
}

.fileCreated, .folderInfo, .rank {
	display: table-cell;
	width: 90px;
	padding: 0 50px 0 0;
	color: #000;
	/*padding: 7px 50px 0px 0px;*/
	font-weight: 400;
	font-size: 14px;
	
}

.folderInfo {
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rank {
	width: 80px;
}

.tablesPanel .foldersPanel {
	float: left;
	width: 250px;
	height: 100%;
	background-size: 100% 100%;
	background-color: #FFF;
	/*margin-top: 25px;*/
	box-shadow: 3px 3px 18px rgba(0,0,0,0.15);
	
}
.tablesPanel .foldersPanel_sidebar {
	float: left;
	width: 250px;
	height: 100%;
	background-size: 100% 100%;
	background-color: #FFF;
	
}
#content.witness .foldersPanel {
	display: none;
}

.tablesPanel .filesPanel {
	height: 100%;
	margin-left: 260px;
	background-color: #FFF;
	/*margin-top: 25px;*/
	box-shadow: 3px 3px 18px rgba(0,0,0,0.15);
}

#content.witness .filesPanel {
	margin: 0;
}

.tablesPanel.contentSearch .foldersPanel {
	display: none;
}
.tablesPanel.contentSearch .filesPanel {
	width: 100%;
	margin: 0;
}

.filesPanel .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	/*background-image: url('/img/ipad/table-wide-left.png'), url('/img/ipad/table-wide-right.png'), url('/img/ipad/table-wide-middle.png');*/
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: left top, right top, left top;
	background-origin: border-box, border-box, padding-box;
	background-clip: border-box, border-box, padding-box;
	background-size: 40px 100%, 80px 100%;
	background-color: #FFF;
	margin-top: 10px;
}

#folderList {

}

#drag_image {
	color: rgb(62,62,62);
	background-color: #f4f4f4;
	z-index: -10;
	position: absolute;
	top: 2000px;
	left: 0;
	height: 20px;
	width: 200px;
	padding: 15px;
	font-weight: bold;
	list-style-type: none;
	border: 1px solid #ddd;
	border-radius: 5px;
}

#drag_image p {
	margin: 0;
}

.folderActions {
	height: 33px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 17px 20px 12px;
    /* padding-top: 15px; */
    /* border-top: 1px solid rgba(221,221,204,.5); */
    z-index: 1;
}

#content.witness .folderActions {
	display: none;
}

.folderActions .actionBtns {
	display: none;
	float: left;
}

.actionBtns div {
	float: left;
	cursor: pointer;
	font-size: 14px;
	font-weight:bold;
	margin:	10px 10px 0 10px;
	color: rgba(62,62,62,0.8);
	margin: 0 20px 0 0;
}

.folderActions .sendPortalInviteBtn {
	display: none;
	width: 30px;
	height: 30px;
	background: url(/img/ipad/icons/folder-actions.png) no-repeat 0 -120px;
	float: right;
	margin: 0 20px 0 0;
	cursor: pointer;
}

.folderActions .downloadBtn {
	width: 34px;
	height: 31px;
	background: url(/asset/images/db2.png) no-repeat 0 0;
	float: right;
	margin: 0 20px 0 0;
	cursor: pointer;
}

.folderActions .emailBtn {
	width: 34px;
	height: 31px;
	background: url(/asset/images/db1.png) no-repeat 0 0;
	float: right;
	margin: 0 20px 0 0;
	cursor: pointer;
}

.folderActions .emailBtn.disabled, .folderActions .downloadBtn.disabled {
	opacity: .52;
	cursor: default;
}

#witnessBlock {
	display: none;
	position: absolute;
	top: 230px;
	width: 100%;
	text-align: center;
	color: #777;
}

#file_contents.video #editor_contents {
	margin: 0;
}

#file_contents.video #multimediaFileContainer {
	background-color: #333;
}

#file_drag_helper {
	position:fixed;
	box-sizing:border-box;
	width:250px;
	height:52px;
	border:1px solid rgba(0,0,0,0.1);
	color:#666;
	padding:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:rgba(255,255,255,0.5);
	font-weight:bold;
	overflow:hidden;
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
 
 #deposition_content #depositions_header p.deposition_name {
	max-width: 460px;
	margin-bottom: -10px;
}

#deposition_content #depositions_header p.deposition_number {
	max-width: 200px;
	margin-bottom: -10px;
}

#deposition_content #depositions_header p.deposition_passcode {
	width: 28px;
	height: 28px;
	background: url('/asset/images/DepositionInfo.png') no-repeat 0 0;
	background-size: 100% 100%;
	cursor: pointer;
	display: none;
	margin-bottom: -10px;
	
}
	
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
#deposition_content #depositions_header p.deposition_name {
	max-width: 460px;
	margin-bottom: -10px;
}

#deposition_content #depositions_header p.deposition_number {
	max-width: 200px;
	margin-bottom: -10px;
}

#deposition_content #depositions_header p.deposition_passcode {
	width: 28px;
	height: 28px;
	background: url('/asset/images/DepositionInfo.png') no-repeat 0 0;
	background-size: 100% 100%;
	cursor: pointer;
	display: none;
	margin-bottom: -10px;
	
}


}