* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	color: #fff;
	
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	overflow: hidden;
	height: 100%;
}

a, a:link, a:visited, a:hover, a:focus {
	color: #00a0dd;
	text-decoration: none;
}

a:active {
	color: #bbb;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 4px 0;
	
	font-weight: normal;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 14px;
}

ul li[onclick] {
	cursor: pointer;
}

#content {
	height: 100%;
	/*height: 721px;*/
	padding:2px;
}

#dialog1Btn, #dialog3Btn, #tutorialContents {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('/img/ipad/000000-0.5.png') 0 0 repeat;
	top: 0;
	left: 0;
	display: none;
}

.popupDialog {
	width: 460px;
	height: 261px;
	background: url('/img/ipad/dialog/bg-popup-460x261.png') 0 0 repeat;
	position: absolute;
	top: 253px;
	left: 282px;
	border-radius: 8px;
	text-align: center;
	color: #000;
}

#dialog1Btn .popupDialog h2 {
	margin: 45px 25px 8px;
}

#dialog1Btn .popupDialog .dialogMsg {
	width: 368px;
	height: 65px;
	position: absolute;
	top: 85px;
	left: 46px;
}

#dialog1Btn .popupDialog .dialogMsg .dialogMsgInnerWrap {
	height: 65px;
}

#dialog1Btn .popupDialog .dialogMsg .dialogMsgInnerWrap span {
	display: inline-block;
	line-height: 65px;
	font-size: 14px;
	max-width: 395px;
	word-wrap: break-word;
}

#dialog1Btn .popupDialog .dialogOkBtnWrap {
	position: absolute;
	top: 165px;
	left: 0px;
	width: 100%;
}

#dialog1BtnClose {
	margin: 0 auto;
	width: 165px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

#dialog1Btn .popupDialog .dialogOkBtn {
	background: url('/img/ipad/dialog/big-blue-button-162x54.png') 0 0 no-repeat;
	width: 162px;
	height: 54px;
}

#dialog1Btn .popupDialog .dialogOkBtn span {
	font-size: 14px;
	font-style: italic;
	line-height: 48px;
}

.attractive {
	color: #ea8 !important;
}

div.required label::before  {
	content: "*";
}

.submit input {
	cursor: pointer;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.cake-error {
	padding: 20px 10px;
	color: #fff;
}

.cake-sql-log {
    display: none;
}

.app_btn {
	border: 1px solid #000;
	border-radius: 6px;
	background: rgb(12,106,191);
	background: -o-linear-gradient(top, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background: -webkit-linear-gradient(top, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background: -ms-linear-gradient(top, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background: linear-gradient(to bottom, rgb(22,127,202) 20%, rgb(9,92,180) 99%);
	background-size: 100% 100%;
	box-shadow: 0px 0px 3px rgb(0,0,0);
	color: #fff !important;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.app_btn.inactive, .app_bttn.inactive {
	background: rgba(16,116,191,0.35);
	background: -o-linear-gradient(top, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	background: -webkit-linear-gradient(top, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	background: -ms-linear-gradient(top, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	background: linear-gradient(to bottom, rgba(22,127,202,0.35) 20%, rgba(9,92,180,0.35) 99%);
	cursor: default;
}

.app_bttn {
	background: url('/img/ipad/button/big-blue-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	color: #fff !important;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.app_bttn_cancel {
	background: url('/img/ipad/button/big-black-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	color: #fff !important;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.app_bttn_inactive {
	background: url('/img/ipad/button/big-gray-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	color: #fff !important;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.hidden {
	display: none;
}

#videoContainer {
	display: block;
	margin: 120px auto 0;
	width: 912px;
	height: 513px;
}

.vjs-default-skin .vjs-big-play-button {
	top: 50% !important;
	left: 50% !important;

	margin-top: -1.3em !important;
	margin-left: -2em !important;
}

#multimediaFileContainer {
	width: 100% !important;
	text-align: center !important;
	margin-top: 10px;
	position: relative;
}

#multimediaFileplayer {
	height: auto !important;
	width: auto !important;
	display: block;
	margin: 0 auto;

    min-height: 30px;
    max-width: 95%;
}

audio#multimediaFileplayer {
	width: 100% !important;
	/*margin-top: 150px !important;*/
}

#file_contents.audio #multimediaFileContainer {
	padding-top: 150px;
}

.video-js .vjs-tech, #multimediaFileContainer video {
	width: auto !important;
	height: 570px !important;
	position: inherit !important;
	max-width: 100% !important;
}

.sigil-red {
	display: inline-block;
	padding: 1px 4px;
	line-height: 14px;
	height: 14px;
	min-width: 8px;
	background-color: #d00;
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.30);
	color: #fff !important;
	font-size: 10px;
	text-align: center;
}

/* Override jqueryui datepicker filter dropdowns */
.ui-datepicker select.ui-datepicker-month{
	width:58%
}
.ui-datepicker select.ui-datepicker-year{
	width:42%
}
