#stamp {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	text-align: center;
	display: none;

}

.unselectable {
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#stamp .dialogIntroduce {
    border: 4px solid black;
    border-radius: 10px;
    padding: 2px 6px 0 5px;
    display: inline-block;
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3D5BB 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3D5BB));
}

#stamp span {
    padding: 0 2px;
	min-width: 103px;
	max-width: 520px;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	min-height: 20px;
}

#stamp #pad {
	margin: 0;
}

#stamp #date {
    font-size: 14px;
}

#stamp .dialogIntroduce #bar {
    margin: 4px 4px 0 4px;
    border-bottom: 2px solid black;
}

#stamp #drag_arrows {
	background: url("/img/ipad/icons/introduce_icons.png") no-repeat 0 -110px;
	position: absolute;
	top: 7px;
	left: -23px;
	height: 30px;
	width: 30px;
	border: 1px solid #d5d5d5;
	z-index: 2;
	cursor: pointer;
}

#stamp.multimedia {
	top: 70px;
	left: 40px;
	z-index: 999;
	color: #000;
}

#spinner {
	position: absolute;
	top: 0;
	left: 0;
	height: 580px;
	width: 973px;
	background: url('/img/ipad/loading2.gif') no-repeat 0 0;
	background-position: center;
	z-index: 999;
}
