#login_welcome_wrap {
	float: left;
	margin-top: 45px;
	margin-left: 65px;
	width: 365px;
}

#login_form_wrap {
	float: left;
	/*margin-top: 50px;
	margin-right: 65px;
	padding-top: 60px;
	width: 512px;*/
	text-align: left;
}

#login_form_wrap.guest_form {
	margin-top: 100px;
}

#login_welcome_wrap h1 {
	margin: 30px 0;
	color: #500;
	font-size: 41px;
	font-style: italic;
	font-weight: 600;
	text-shadow: rgba(238, 140, 51, 0.5) 0 1px 0;
}

#login_welcome_wrap div {
	line-height: 22px;
}

#login_form_wrap label {
	padding-right: 9px;
	font-size: 14px;
}

#login_form_wrap .input {
	margin-bottom: 36px;
}

#login_form_wrap .input input {
	padding-left: 8px;
	width: 245px;
	height: 26px;
	border-radius: 3px;
	font-size: 1.0em;
}

#login_form_wrap .input select {
	padding-left: 8px;
	width: 255px;
	height: 32px;
	font-size: 0.8em;
	font-style: italic;
	background-color: #ddd;
	border: 1px solid rgba(32,32,32,0.6);
	border-radius: 3px;
}

#login_form_wrap div.submit input {
	margin-bottom: 16px;
	width: 140px;
	height: 48px;
	border: none;
	background: url('/img/ipad/button/big-blue-button-160x54.png') no-repeat 0 0;
	background-size: 100% 100%;
	
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	cursor: pointer;
}

#login_form_wrap .reset_password a {
	font-style: italic;
}

#member_messaging {
	display: none;
	position: absolute;
	top: 575px;
	left: 0;
	margin: 0 40px;
	width: 944px;
	height: 20px;
}

#member_messaging p {
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

@-moz-document url-prefix() {
    #login_form_wrap .input select {
		padding: 7px 5px 5px 8px;
	}
}
