.popupDialog {
	position: absolute;
	text-align: center;
	color: #fff;
}

#menuModifyAnnotation, #menuColor, #menuThickness, #menuOpacity {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 10000;
	/* Needed for IE so we can click on the background. */
	background: url('/img/ipad/000000-0.5.png') no-repeat 0 0;
}

#menuModifyAnnotation .modifyButton {
	display: inline-block;
	padding: 10px;
	margin-left: -5px;
	border-left: 1px solid #fff;
	background: #2a2a2a;
	font-size: 14px;
	cursor: pointer;
}

#menuModifyAnnotation .leftButton {
	border: none;
	border-radius: 8px 0 0 8px;
}

#menuModifyAnnotation .rightButton {
	border-radius: 0 8px 8px 0;
}

#menuColor .popupDialog, #menuThickness .popupDialog, #menuOpacity .popupDialog {
	padding: 5px;
	text-align: left;
	color: #5f6060;
	background: #d6d8e0;
	border-radius: 8px;
}

#menuColor .title, #menuThickness .title, #menuOpacity .title {
	padding: 0 0 0 5px;
	
	font-size: 14px;
}

#menuColor .border {
	margin: 5px;
	float: left;
}

#menuColor .color-square  {
	width: 40px;
	height: 40px;
	border: 1px solid #555555;
	border-radius: 6px;
}

#menuThickness .border, #menuOpacity .border {
	position: relative;
	margin: 5px;
	float: left;
	width: 40px;
	height: 40px;
	border: 1px solid #555555;
	border-radius: 6px;
	background-image: linear-gradient(to bottom, #ABB0B6 0%, #707881 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ABB0B6), color-stop(1, #707881));
}

#menuThickness .selected,#menuOpacity .selected {
	box-shadow: 0px 0px 6px 2px #7475ee;
}

#menuThickness .line {
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: -1px 1px 1px black;
}

#menuThickness #line1 {
	width: 2px;
	height: 2px;
	margin: -1px 0 0 -1px;
}

#menuThickness #line2 {
	width: 4px;
	height: 4px;
	margin: -2px 0 0 -2px;
}

#menuThickness #line3 {
	width: 6px;
	height: 6px;
	margin: -3px 0 0 -3px;
}

#menuThickness #line4 {
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#menuOpacity .wrapper {
	float: left;
}

#menuOpacity .border {
	float: none;
	margin: 0;
}

#menuOpacity .text {
	margin: -4px 0 0 6px;
	font-size: 12px;
}

#menuOpacity .selectBox {
	margin: 5px;
	border-radius: 6px;
}

#menuOpacity #alpha75 {
	opacity: 0.75;
}

#menuOpacity #alpha50 {
	opacity: 0.50;
}

#menuOpacity #alpha25 {
	opacity: 0.25;
}

#drawerTab {
	background: url('/img/ipad/icons/file-icons.png') no-repeat 0 0;
	position: absolute;
	top: 270px;
	left: 23px;
	width: 17px;
	height: 57px;
	z-index: 20;
	cursor: pointer;
	display: none;
}

#spinner {
	position: absolute;
	top: 0;
	left: 0;
	height: 580px;
	width: 973px;
	background: url('/img/ipad/loading2.gif') no-repeat 0 0;
	background-position: center;
	z-index: 1;
}
