
a, a:link, a:visited, a:hover, a:focus, a:active {
	color: #fff;
	text-decoration: none;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 4px 0;
	
	font-weight: normal;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

#container {
    height: 80vh;
	
}

#ipad_container_branded {
	position: relative;
	width: 600px;
	height: 800px;
	margin: 0 auto;
/*	background: url('/img/user/roles/webapp_bg.jpg') no-repeat 0 0;*/
	
	font-size: 14px;
	padding-top:50px
	
}

#logo_header {
	
	padding: 15px 0;
    border-bottom: 5px solid #5fbb46;
    position: relative;
}

#page_content {

	min-height: 80vh;
    border-top: 1px solid #00a0dd;
    margin: 2px 0;
    border-bottom: 1px solid #00a0dd;
}

#signin_options {
	position: relative;
	/*margin: 55px 0 85px 0;*/
	width: 650px;
	
	font-size: 0;
}

#signin_options > div {
	border-radius: 10px;
	display: inline-block;
	top: 0;
	width: 75%;
    margin: 0 auto;
}

#signin_options > div > a > div,
#signin_options > div > a:link > div,
#signin_options > div > a:visited > div,
#signin_options > div > a:hover > div {
	display: inline-block;
	width: 196px;
	height: 196px;
	border-radius: 95px;
}

#signin_options > div.witness_signin > a > div,
#signin_options > div.witness_signin > a:link > div,
#signin_options > div.witness_signin > a:visited > div,
#signin_options > div.witness_signin > a:hover > div {
	display: inline-block;
	width: 110px;
	height: 110px;
	border-radius: 54px;
}

#signin_options > div > a:active > div {
	background-color: rgba(25, 25, 25, 0.35);
}

#signin_options .member_signin {
	left: 95px;
	background: url('/img/user/roles/green_button.png') no-repeat 0 0;
}

#signin_options .guest_signin {
	right: 95px;
	background: url('/img/user/roles/blue_button.png') no-repeat 0 0;
}

#signin_options .witness_signin {
	right: 271px;
	top: 262px;
	background: url('/img/user/roles/yellow_button.png') no-repeat 0 0;
}

#signin_options .member_signin > a > div {
	margin-top: 49px;
	margin-left: 77px;
}

#signin_options .guest_signin > a > div {
	margin-top: 49px;
	margin-left: 51px;
}

#signin_options .witness_signin > a > div {
	margin-top: 27px;
	margin-left: 27px;
}

#signin_instructions {
	text-align: center;
}

#signin_instructions p {

}

#branded_footer {

	border-top: 5px solid #5fbb46;
    color: #00a0dd;
    font-weight: 600;
    padding: 15px;
    margin: 0;
    text-align: center;
	
}

#branded_footer p {
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #167fca;
}
