#attendee_list_container {
	display: none;
}

#social_list_container {
	position: absolute;
	top: 200px;
	right: 0;
	width: 259px;
	height: 420px;
	background-color: #586a7e;
	font-size: 18px;
	z-index: 10001;
	border: 1px solid #000;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #FFF;
    font-weight: 400;
}

#social_list_container.classic {
	top: 70px;
	height: 550px;
}

#social_list_container.fullscreenShort {
	top: 70px;
	height: 550px;
}

#social_list_container.fullscreenTall {
	top: 30px;
	height: 585px;
}

#ipad_container.portrait #social_list_container {
	height: 890px;
}

#ipad_container.portrait #social_list_container.fullscreenShort {
	height: 923px;
}

#ipad_container.portrait #social_list_container.fullscreenTall {
	height: 985px;
}

#social_list_container.hideSocialList {
	display: none;
}

#social_list_container.showSocialList {
	display: block;
}

#social_list_container a {
	text-decoration: none;
	
}

.social_titlebar {
	width: 249px;
	height: 30px;
	padding: 10px 0 0 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #194E7B), color-stop(1, #0F3D6A));
	background-image: -webkit-linear-gradient(top, #194E7B 0%, #0F3D6A 100%);
	background-image: linear-gradient(#194E7B 0%, #0F3D6A 100%);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

#social_list_titlebar {
	color: #fff;
	width: 259px;
	height: 44px;
	/* background: url('/img/ipad/social/cell_divider.png') 0 42px repeat-x; */
}

#social_list_titlebar #groups_titlebar {
	display: none;
}

#social_list_titlebar #users_titlebar {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	height: 44px;
	background: #fff;
	border-radius:3px;
}

#social_list_titlebar #users_group_add {
	position: absolute;
	right: 8px;
	width: 44px;
	height: 30px;
	background: url('/asset/images/addGrp.png') no-repeat 0 0;
	background-size: contain;
	cursor: pointer;
}

#attendee_list_container.tabs #social_list_titlebar #users_group_add,
#attendee_list_container.notabs #social_list_titlebar #users_group_add {
	position: absolute;
	top: 10px;
    right: 15px;
}


#social_list_titlebar #users_group_edit_cancel {
	display: none;
	position: absolute;
	top: 8px;
	left: 6px;
	width: 52px;
	height: 28px;
	background: url('/img/ipad/button/back_button_orange.png') no-repeat 0 0;
	background-size: 100% 100%;
	cursor: pointer;
}

#social_list_titlebar #users_group_edit_cancel p {
	line-height: 28px;
	text-align: center;
	padding-left: 5px;
	font-size: 13px;
}

#social_list_container .social_list_nav_button {
	display: inline-block;
	width: 50px;
	height: 20px;
	float: left;
	display: none;
}

#social_list_container .social_list_nav_title {
	display: inline-block;
	width: 264px;
	text-align: center;
	color: #00a5e4;
}

/* with tabs -- landscape */
#attendee_list_container.tabs #social_attendee_container {
	height: 580px;
}

#attendee_list_container.tabs #social_list_container.classic #social_attendee_container {
	height: 506px;
}

#attendee_list_container.tabs #social_list_container.classic #social_attendee_container.collapsed {
	height: 211px;
}

#attendee_list_container.tabs #social_list_container.fullscreenShort #social_attendee_container {
	height: 537px;
}

#attendee_list_container.tabs #social_list_container.fullscreenShort #social_attendee_container.collapsed {
	height: 246px;
}

#attendee_list_container.tabs #social_list_container.fullscreenTall #social_attendee_container {
	height: 601px;
}

#attendee_list_container.tabs #social_list_container.fullscreenTall #social_attendee_container.collapsed {
	height: 306px;
}

/* with tabs -- portrait */
#ipad_container.portrait #attendee_list_container.tabs #social_list_container.classic #social_attendee_container {
	height: 759px;
}

#ipad_container.portrait #attendee_list_container.tabs #social_list_container.fullscreenShort #social_attendee_container {
	height: 792px;
}

#ipad_container.portrait #attendee_list_container.tabs #social_list_container.fullscreenTall #social_attendee_container {
	height: 854px;
}


/* without tabs -- landscape */
#attendee_list_container.notabs #social_attendee_container {
	height: 400px;
}

#attendee_list_container.notabs #social_attendee_container.collapsed {
	height: 370px;
}

#attendee_list_container.notabs #social_list_container.classic #social_attendee_container {
	height: 588px;
}

#attendee_list_container.notabs #social_list_container.classic #social_attendee_container.collapsed {
	height: 293px;
}

#attendee_list_container.notabs #social_list_container.fullscreenShort #social_attendee_container {
	height: 619px;
}

#attendee_list_container.notabs #social_list_container.fullscreenShort #social_attendee_container.collapsed {
	height: 328px;
}

#attendee_list_container.notabs #social_list_container.fullscreenTall #social_attendee_container {
	height: 683px;
}

#attendee_list_container.notabs #social_list_container.fullscreenTall #social_attendee_container.collapsed {
	height: 388px;
}

/* without tabs -- portrait */
#ipad_container.portrait #attendee_list_container.notabs #social_list_container.classic #social_attendee_container {
	height: 841px;
}

#ipad_container.portrait #attendee_list_container.notabs #social_list_container.fullscreenShort #social_attendee_container {
	height: 874px;
}

#ipad_container.portrait #attendee_list_container.notabs #social_list_container.fullscreenTall #social_attendee_container {
	height: 936px;
}


#attendee_list_container.tabs #social_attendee_container.collapsed {
	height: 288px;
}

#social_attendee_list, #social_group_edit {
	position: relative;
	margin-top: 5px;
	/*height: 100%;*/
	overflow-y: auto;
	z-index: 350;
}

#social_group_edit {
	display: none;
}

#social_group_edit #group_form {

}

#social_group_edit #group_form_name {

}

#group_form_name #group_name_edit_container {
	position: relative;
	margin: 0 8px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #111;
}

#group_name_edit_container p {
	display: inline-block;
	padding: 5px 4px;
	line-height: 20px;
	color: #bbb;
}

#group_name_edit_container #group_name_edit {
	position: absolute;
	margin: 6px 4px 0 4px;
	top: 0;
	left: 0;
	width: 200px;
	font-size: 14px;
	border: 0;
	outline: none;
	color: #111;
}

#group_name_edit_container #group_name_edit.transparent {
	background: none;
}

#group_name_edit_container #clear-input {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
	width: 18px;
	height: 18px;
	background: #ccc url('/img/ipad/icons/close.png') no-repeat 0 0;
	background-position: 3px 3px;
	background-size: 12px;
	border: #fff 1px solid;
	border-radius: 13px;
}

#social_group_edit #group_form_action {
	position: relative;
	height: 45px;
}

#social_group_edit #group_form_action_delete,
#social_group_edit #group_form_action_save {
	position: absolute;
	top: 8px;
	width: 80px;
	height: 28px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #111;
}

#social_group_edit #group_form_action_delete.inactive,
#social_group_edit #group_form_action_save.inactive {
	cursor: default;
}

#social_group_edit #group_form_action_delete {
	left: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF3333), color-stop(1, #DB1A1A));
	background-image: -webkit-linear-gradient(top, #FF3333 0%, #DB1A1A 50%);
	background-image: linear-gradient(#FF3333 0%, #DB1A1A 50%);
}

#social_group_edit #group_form_action_save {
	right: 8px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4291FF), color-stop(1, #27E));
	background-image: -webkit-linear-gradient(top, #4291FF 0%, #27E 50%);
	background-image: linear-gradient(#4291FF 0%, #27E 50%);
}

#social_group_edit #group_form_action_delete.inactive {
	opacity: .5;
}

#social_group_edit #group_form_action_save.inactive {
	opacity: .5;
}

#social_group_edit #group_attendee_list {
	margin-top: 20px;
}

#social_group_edit #group_attendee_list ul {
	list-style-type: none;
}

#social_group_edit #group_attendee_list ul li {
	position: relative;
	padding: 0 20px 0 40px;
	line-height: 34px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#social_group_edit #group_attendee_list.inactive ul li, #social_group_edit #group_attendee_list ul li.disconnected {
	color: #aaa;
}

#social_group_edit #group_attendee_list ul li .status_icon {
	position: absolute;
	top: 7px;
	left: 8px;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url('/img/ipad/icons/group_status_blue.png') no-repeat 0 -20px;
}

#social_group_edit #group_attendee_list ul li.selected .status_icon {
	background: url('/img/ipad/icons/group_status_blue.png') no-repeat 0 0;
}

#social_group_edit #group_attendee_list.inactive ul li .status_icon {
	display: none;
}

.social_list_header {
	position: relative;
	/* background: url('/img/ipad/social/471904-0.8.png') 0 0 repeat; */
}

#social_attendee_list .list_item_title {
	position: relative;
	padding-left: 38px;
	height: 44px;
	cursor: pointer;
}

#social_attendee_list .list_item_title.no_click {
	cursor: default;
}

#social_attendee_list .list_item_title span {
	display: inline-block;
	line-height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#social_attendee_list .list_item_title_name {
	max-width: 110px;
	margin-right: 5px;
}

#social_attendee_list .list_item_title_count {
	max-width: 45px;
	text-overflow: "…)";
}

#social_attendee_list .list_item_title_count:before {
	content: "(";
}

#social_attendee_list .list_item_title_count:after {
	content: ")";
}

#social_attendee_list .group_chat_unread {
	position: absolute;
	top: 12px;
	right: 10px;
}

#social_attendee_list .group_chat_unread.editable {
	right: 28px;
}

/* removed from iPad in 1.5.0.16 */
#social_attendee_list .msg_group_button_box {
	position: absolute;
	top: 6px;
	right: 4px;
	border: 2px solid #502D14;
	border-radius: 4px;
	padding: 6px;
	cursor: pointer;
}

#social_attendee_list .toggle {
	position: absolute;
	top: 12px;
	left: 5px;
	width: 22px;
	height: 22px;
	background: url('/img/ipad/content_toggle.png') no-repeat -1px -23px;
	border: none;
}

#social_attendee_list .edit {
	position: absolute;
	top: 12px;
	right: 2px;
	width: 20px;
	height: 20px;
	background: url('/img/ipad/icons/group-edit.png') no-repeat 0 0;
	border: none;
	cursor: pointer;
}

#social_attendee_list .toggle.collapsed {
	background: url('/img/ipad/content_toggle.png') 0 0 no-repeat;
}

#social_attendee_list .msg_group_button {
	display: block;
	width: 18px;
	height: 15px;
	background: url('/img/ipad/social/start_chat_img.png') 0 0 no-repeat;
}

#social_attendee_list .drag_over{
	background-color: #1fa2ff;
}

#social_attendee_list ul {
	list-style: none;
}

#social_attendee_list ul li {
	position: relative;
	list-style: none;
	padding-left: 38px;
	/* background: url('/img/ipad/social/cell_divider.png') 0 30px repeat-x; */
}

#social_attendee_list li.active {
	color: rgba(240,240,240,1);
}

#social_attendee_list li.inactive {
	color: rgba(172,172,172,0.8);
}

#social_attendee_list li .list_item {
	display: inline-block;
	vertical-align: top;
	width: 190px;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 190px;
	font-size: 14px;
    color: #fff;
}

#social_attendee_list li .list_title {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 34px;
	line-height: 34px;
	color: #bbb;
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#social_attendee_list li .attendee_role {
	position: absolute;
	top: 9px;
	left: 11px;
	width: 16px;
	height: 16px;
}

#social_attendee_list li .attendee_role.leader {
	background: url('/img/ipad/icons/role_badges.png') no-repeat 0 -16px;
}

#social_attendee_list li .attendee_role.witness {
	background: url('/img/ipad/icons/role_badges.png') no-repeat 0 0;
}

#social_attendee_list li .attendee_role.in_presentation {
	background: url('/img/ipad/icons/role_badges.png') no-repeat 0 -32px;
}

#social_attendee_list ul li div.attendee_unread_messages {
	position: absolute;
	top: 6px;
	right: 10px;
}

#social_attendee_list ul li.witness div.attendee_unread_messages {
	right: 25px;
}

#social_attendee_list ul li div.attendee_name {
	cursor: pointer;
}

#social_attendee_list li .block_icon {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 20px;
	height: 25px;
	background: url('/img/ipad/icons/exhibit_hands.png') no-repeat 0 0;
	cursor: pointer;
}

#social_attendee_list li .block_icon.block_exhibits {
	background: url('/img/ipad/icons/exhibit_hands.png') no-repeat 0 -26px;
}

#attendee_list_toggle_wrap {
	float: right;
	position: absolute;
	top: 48%;
	cursor: pointer;
	z-index: 1;
}

#attendee_list_toggle {
	width: 22px;
	height: 57px;
}

#attendee_list_toggle_wrap.showSocialList {
	right: 265px;
}
#attendee_list_toggle_wrap.hideSocialList {
	right: 5px;
}

#attendee_list_toggle_wrap.showSocialList #attendee_list_toggle {
	background: url('/asset/images/horizontalTabRight.png') no-repeat 0 0;
	background-size: contain;
	padding-right: 35px;
	width: 22px;
	height: 38px;
    
}

#attendee_list_toggle_wrap.hideSocialList #attendee_list_toggle {
	background: url('/asset/images/horizontalTabLeft.png') no-repeat 0 0;
	background-size: contain;
	padding-right: 22px;
	width: 22px;
	height: 38px;
}

#attendee_chat_unread {
	position: absolute;
	top: 18px;
    right: 2px;
	z-index: 2;
}

#social_chat_window {
	display: none;
	position: absolute;
	left: 0;
	bottom: 41px;
	width: 100%;
	z-index: 10002;
	height: 290px;
}

#attendee_list_container.notabs #social_chat_window {
	bottom: 0px;
}

#social_chat_window > div {
	position: relative;
	border: 1px solid #530;
}

#social_chat_window #chat_title {
	background-color: #357;
}

#social_chat_window #chat_title.group {
	background: #357 url('/img/ipad/icons/group.png') no-repeat 0 0;
	background-position: 7px 13px;
}

#social_chat_window #chat_title p {
	padding-left: 7px;
	width: 222px;
	line-height: 42px;
	overflow: hidden;
	font-style: italic;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#social_chat_window #chat_title.group p {
	padding-left: 40px
}

#social_chat_window #chat_title #close_chat {
	position: absolute;
	top: 12px;
	right: 8px;
	width: 14px;
	height: 14px;
	background: url('/img/ipad/icons/close.png') 1px 1px no-repeat;
}

#social_chat_window #chat_action {
	display: none;
	width: 100%;
	height: 34px;
	background-color: #aaa;
}

#social_chat_window #chat_action div {
	display: inline-block;
	margin: 2px 0;
	width: 130px;
	line-height: 14px;
	color: #000;
	font-size: 11px;
	font-style: italic;
}

#social_chat_window #chat_action #role_button {
	display: inline-block;
	margin: 3px 8px 3px 2px;
	width: 100px;
	height: 26px;
	line-height: 26px;
	vertical-align: top;
	background: #3e628e;
	background: linear-gradient(#3e628e 15%,#103154 80%);
	border: 1px solid #111;
	border-radius: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

#social_chat_window #chat_contents {
	height: 200px;
	background-color: #fff;
	overflow-y: scroll;
}

#social_chat_window #chat_input {
	background-color: #9ab;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 42px;
	width: 257px;
	color:#000;
}

#social_chat_window #chatentry {
	position: absolute;
	top: 0;
	left: 0;
	margin: 6px 4px;
	width: 245px;
	height: 25px;
	border-radius: 6px;
	font-size: 14px;
	z-index: 100;

}

#social_chat_window #chat_input p {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 42px;
	color: black;
	font-size: 14px;
	text-align: center;
	z-index: 10;
	color:#000;
}

#chat_contents .chat_message {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 10px;
}

#chat_contents .chat_message .message_text {
	display: inline-block;
	vertical-align: top;
	width: 160px;
}

#chat_contents .chat_message .message_text p {
	word-wrap: break-word;
}

#chat_contents .chat_message .message_text p .author {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	max-width: 155px;
	color: #868686;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
	word-wrap: normal;
}

#chat_contents .chat_message .message_timestamp {
	display: inline-block;
	vertical-align: top;
	width: 60px;
}

#chat_contents .chat_message .message_timestamp p {
	margin-top: 2px;
	color: #aaa;
	font-size: 12px;
	text-align: right;
}

#social_transcript_tab {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10003;
	height: 41px;
	border-bottom-left-radius: 5px;
	background-color: #fff;
}

#social_transcript_tab.open {
	height: 670px;
}

#social_transcript_tab.open.classic {
	height: 593px;
}

#social_transcript_tab.open.fullscreenShort {
	height: 628px;
}

#social_transcript_tab.open.fullscreenTall {
	height: 688px;
}

#ipad_container.portrait #social_transcript_tab.open {
	height: 670px;
}

#ipad_container.portrait #social_transcript_tab.open.classic {
	height: 849px;
}

#ipad_container.portrait #social_transcript_tab.open.fullscreenShort {
	height: 882px;
}

#ipad_container.portrait #social_transcript_tab.open.fullscreenTall {
	height: 944px;
}

#transcript {
	border-top: 1px solid #000;
}

#transcript_contents {
	display: block;
	height: 0px;
	width: 258px;
	color: #000;
	overflow: hidden;
	word-wrap: break-word;
}

#transcript_contents.open {
	height: 599px;
	border-right: 1px solid #000;
}

#transcript_contents .transcript_counter {
	color: #919191;
	padding-right: 4px;
}

#social_list_container.classic #transcript_contents.open {
	height: 522px;
}

#social_list_container.fullscreenShort #transcript_contents.open {
	height: 557px;
}

#social_list_container.fullscreenTall #transcript_contents.open {
	height: 617px;
}

#ipad_container.portrait #social_list_container.classic #transcript_contents.open {
	height: 778px;
}

#ipad_container.portrait #social_list_container.fullscreenShort #transcript_contents.open {
	height: 811px;
}

#ipad_container.portrait #social_list_container.fullscreenTall #transcript_contents.open {
	height: 873px;
}

#transcript_icon {
	display: none;
	position: absolute;
	right: 25px;
	bottom: 40px;
	width: 30px;
	height: 30px;
	background: url('/img/ipad/icons/transcript_icon.png') 0 0 no-repeat;
	cursor: pointer;
}

#social_chat_tab {
	border-bottom: solid #000 1px;
}

#social_chat_tab, #social_transcript_tab {
	display: none;
}

#attendee_list_container.tabs #social_chat_tab, #attendee_list_container.tabs #social_transcript_tab {
	display: block;
}

#social_transcript_tab #liveFeed {
	height: 598px;
	overflow-x: hidden;
	overflow-y: auto;
	border-bottom: 1px solid #bbb;
	background-color: #fefefe;
}

#social_transcript_tab #liveFeed.classic {
	height: 524px;
}

#ipad_container.portrait #social_transcript_tab #liveFeed.classic {
	height: 778px;
}

#social_transcript_tab #liveFeed.fullscreenShort {
	height: 557px;
}

#ipad_container.portrait #social_transcript_tab #liveFeed.fullscreenShort {
	height: 811px;
}

#social_transcript_tab #liveFeed.fullscreenTall {
	height: 619px;
}

#ipad_container.portrait #social_transcript_tab #liveFeed.fullscreenTall {
	height: 873px;
}

#social_transcript_tab .txWrap {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#social_transcript_tab .txLine {
	display: table-row;
}

#social_transcript_tab .txMargin {
	display: table-cell;
	width: 33px;
	color: #aaa;
	border-right: 1px solid #999;
	padding-right: 2px;
	background-color: #fefefe;
	text-align: right;
	font-weight: 300;
	font-size: 12px;
}

#social_transcript_tab .txMsg {
	display: table-cell;
	white-space: pre-wrap;
	font-weight: 400;
	font-size: 13px;
	padding: 0 2px;
}

#social_transcript_tab #rcAuth {
	height: 100%;
	background: #dcdcdc; /* Old browsers */
	background: -moz-linear-gradient(top,  #dcdcdc 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dcdcdc 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dcdcdc 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dcdcdc 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dcdcdc 0%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#social_transcript_tab #rcLogin {
}

#rcLogin .summary {
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}

#rcLogin #rcLoginForm {
	margin: 0;
	padding: 0;
}

#rcLoginForm input {
	width: 210px;
	height: 28px;
	margin: 4px 0 8px 15px;
	border-radius: 4px;
	border: 1px solid #4d4d4d;
	font-size: 14px;
	font-weight: 400;
	padding: 0 8px;
}

#transcript_contents .actions {
	margin: 8px 0 0 0;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}

#transcript_contents .actions p {
	line-height: 30px;
}

#transcript_contents .btnCancel {
	width: 100px;
	height: 30px;
	float: left;
	border: 1px solid #4d4d4d;
	border-radius: 8px;
	margin-left: 15px;
	cursor: pointer;
	background: #524b47; /* Old browsers */
	background: -moz-linear-gradient(top, #524b47 20%, #302b28 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#524b47), color-stop(80%,#302b28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #524b47 20%,#302b28 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #524b47 20%,#302b28 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #524b47 20%,#302b28 80%); /* IE10+ */
	background: linear-gradient(to bottom, #524b47 20%,#302b28 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#524b47', endColorstr='#302b28',GradientType=0 ); /* IE6-9 */
}

#transcript_contents .btnOK {
	width: 100px;
	height: 30px;
	float: right;
	border: 1px solid #4d4d4d;
	border-radius: 8px;
	margin-right: 15px;
	cursor: pointer;
	background: #157dc2; /* Old browsers */
	background: -moz-linear-gradient(top,  #157dc2 20%, #0b5fb3 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#157dc2), color-stop(80%,#0b5fb3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #157dc2 20%,#0b5fb3 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #157dc2 20%,#0b5fb3 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #157dc2 20%,#0b5fb3 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #157dc2 20%,#0b5fb3 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#157dc2', endColorstr='#0b5fb3',GradientType=0 ); /* IE6-9 */
}

#transcript_contents .btnOK.disabled {
	cursor: default;
	background: #699ec2; /* Old browsers */
	background: -moz-linear-gradient(top,  #699ec2 20%, #5f87b3 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#699ec2), color-stop(80%,#5f87b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #699ec2 20%,#5f87b3 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #699ec2 20%,#5f87b3 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #699ec2 20%,#5f87b3 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #699ec2 20%,#5f87b3 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699ec2', endColorstr='#5f87b3',GradientType=0 ); /* IE6-9 */
}

#rcError {
	display: none;
	height: 180px;
}

#rcResetDialog {
	height: 165px;
}

#rcError, #rcResetDialog {
	border-radius: 8px;
	border: 2px solid #fff;
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #d8dce6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d8dce6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#d8dce6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#d8dce6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#d8dce6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d8dce6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8dce6',GradientType=0 ); /* IE6-9 */
}

#rcError .heading, #rcResetDialog .heading {
	margin: 10px;
	font-size: 22px;
	line-height: 22px;
	font-weight: 700;
	text-align: center;
	padding: 5px 10px;
}

#rcError .errMsg, #rcResetDialog .errMsg {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: 10px 10px 20px 10px;
}

#rcLoading {
	padding-top: 30px;
}

#rcLoading .loading {
	background-image: url(/img/ipad/loading2.gif);
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	margin: 0 auto;
}

#rcPoweredBy {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	background-color: #fff;
	border-bottom-left-radius: 5px;
}

#social_transcript_tab.open #rcPoweredBy {
	display: block;
}

#rcPoweredBy .txReset {
	display: none;
	height: 30px;
	line-height: 30px;
	float: left;
	color: #bbb;
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px;
	cursor: pointer;
}

#rcPoweredBy .rcLogo {
	width: 144px;
	height: 30px;
	float: right;
	background: #fff url(/img/ipad/pb_rc_logo.png) 0 0 no-repeat;
}

#rcResetWrap {
	position: absolute;
	top: 44px;
	left: 1px;
	right: 1px;
	bottom: 30px;
	background-color: rgba(255,255,255,0.80);
}