
.sortHeader {
    height: 33px;
    width: 100%;
    background-color: #d8dce;
    font-size: 15px;
    position: absolute;
    background-color: #5fbb46;
	margin-top: -20px;
    padding: 0;	
	z-index: 2;
}


/*.sortHeader-cases {
	height: 38px;
    width: 88%;
    margin-left: 10px;
    background-color: #d8dce;
    font-size: 15px;
    position: absolute;
    background-color: #5fbb46
}

.sortHeader-sessions {
	height: 38px;
    width: 88%;
    margin-left: 10px;
    background-color: #d8dce;
    font-size: 15px;
    position: absolute;
    background-color: #5fbb46
}

.sortHeader-folders {
	height: 38px;
    width: 88%;
    margin-left: 10px;
    background-color: #d8dce;
    font-size: 15px;
    position: absolute;
    background-color: #5fbb46
}

.sortHeader-documents {
	height: 38px;
    width: 88%;
    margin-left: 10px;
    background-color: #d8dce;
    font-size: 15px;
    position: absolute;
    background-color: #5fbb46
}
*/
#sortFiles {
	top: 55px;
}


#sortFolders {
	top: 55px;
}

.tablesPanel.contentSearch #sortFiles {
	display: none;
}

#content.witness #sortFiles {
	display: none;
}

#sortCases {

    top: 55px;
}

#sortDepos {
	top: 55px;
}

#fsFolders .sortHeader {
	height: 33px;
    width: 100%;
    background-color: #d8dce;
    font-size: 15px;
    position: absolute;
    background-color: #5fbb46;
	padding: 0;	
	z-index: 2;
	margin-top: 0px;
}

#fsFiles .sortHeader {
	right: 18px;
	left: 5px;
	height: 33px;
    width: 100%;
    background-color: #d8dce;
    font-size: 15px;
    position: absolute;
    background-color: #5fbb46;
	padding: 0;	
	z-index: 2;
    margin-top: 0px;
}

.fsTablesPanel.contentSearch #fsFiles #fsSortFiles {
	display: none;
}

.sortKey {
	margin: 5px 0 0 15px;
	color: #FFF;	
	/*font-weight: 600;*/
	float: left;
	cursor: pointer;
	text-decoration: underline;
}

.sortArrow {
	width: 16px;
	height: 16px;
	background: url('/asset/images/down-arrow.png') no-repeat;
	margin: 12px 8px 0 13px;
	float: left;
	cursor: pointer;
	margin: 10px 0 0 10px;
}

.sortArrow.up {
	background: url('/asset/images/up-arrow.png') no-repeat;
}

.userSortMenu, .depoFilterMenu, .csSortMenu {
	display: none;
	z-index: 101;
}

.userSortMenu .shadow, .depoFilterMenu .shadow, .csSortMenu .shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(/img/ipad/000000-0.2.png) 0 0 repeat;
	z-index: 101;
	height: 125%;
}

.sortMenuWrap, .depoFilterMenuWrap {
	width: 200px;
	position: absolute;
	z-index: 101;
}

.sortMenuWrap .marker, .depoFilterMenuWrap .marker {
	width: 22px;
	height: 39px;
	background: url('/img/ipad/icons/file-icons.png') transparent 0px -156px no-repeat;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto 0;
	position: absolute;
}

.sortMenuWrap ul, .depoFilterMenuWrap ul {
	list-style: none;
	list-style-type: none;
	margin: 0 0 0 21px;
	padding: 0;
	background-color: #00a0dd;
	color: #000;
	border-radius: 8px;
	font-size: 14px;
}

.sortMenuWrap ul li, .depoFilterMenuWrap ul li {
	list-style: none;
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
	height: 32px;
	border-bottom: 1px solid #cac8cc;
}

.sortMenuWrap ul li:last-child, .depoFilterMenuWrap ul li:last-child {
	border-bottom: none;
}

.sortMenuWrap ul li .check, .depoFilterMenuWrap ul li .check {
	width: 16px;
	height: 15px;
	float: left;
	margin-top: 8px;
}

.sortMenuWrap ul li .check.selected, .depoFilterMenuWrap ul li .check.selected {
	background: url('/img/ipad/icons/file-icons.png') no-repeat 0 -103px;
}

.sortMenuWrap ul li .label, .depoFilterMenuWrap ul li .label {
	float: left;
	width: 100px;
	height: 32px;
	padding: 0 0 0 10px;
	cursor: pointer;
	line-height: 32px;
	font-weight: normal;
    font-size: 12px;
}

.sortMenuWrap ul li .submenu {
	float: right;
	width: 8px;
	height: 14px;
	background: url('/img/ipad/icons/file-icons.png') no-repeat 0 -118px;
	margin: 9px 15px 0 0;
	cursor: pointer;
}

.sortMenuWrap ul li .custom {
	float: right;
	width: 22px;
	height: 24px;
	background: url('/img/ipad/icons/file-icons.png') no-repeat 0 -197px;
	margin: 5px 15px 0 0;
	cursor: pointer;
}

.dragBox {
	display: none;
	width: 35px;
}

.dragBox .handle {
	width: 23px;
	height: 10px;
	background: url('/img/ipad/icons/file-icons.png') no-repeat 0 -145px;
	position: absolute;
	top: 20px;
	left: 12px;
}

.CustomSort .dragBox {
	display: table-cell;
}

.sortHeader .doneButton {
	display: none;
	padding: 2px 6px;
	border-radius: 3px;
	border: 1px solid #000;
	color: #fff;
	background: linear-gradient(180deg, rgb(68,153,255), rgb(34,85,204));
	float: right;
	cursor: pointer;
	margin: 7px 7px 0 0;
}

.legend {
	position: absolute;
	top: 10px;
	left: 10px;
	line-height: 15px;
    display: table-cell;
    color: #000;
    font-size: 15px;
	font-weight:400;

}



.sortHeader .depoFilter {
	margin: 5px 25px 0 5px;
	padding: 0 3px;
	color: #FFF;
	
	/*font-weight: 600;*/
	float: right;
	cursor: pointer;
	text-decoration: underline;
}

.depoFilterMenuWrap {
	width: 160px;
	top: 45px;
    right: 35px;
}

.depoFilterMenuWrap ul {
	margin: 0 22px 0 0;
}

.depoFilterMenuWrap .marker {
	left: inherit;
	transform: rotate(180deg);
}
