/**
 * BRANDING
 */

#branded_logo {
	background: url('/img/brands/dti/logo_big.png') no-repeat 0 0;
	width: 566px;
	height: 91px;
	margin: 0 auto;
}
#ipad_container_branded {
	position: relative;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	background: url('/img/brands/dti/blue_bg.png') no-repeat 0 0;
	
	font-size: 14px;
	border: 15px solid #000;
	border-radius: 16px;
}
#toolbar_logo {
	background: url('/img/brands/dti/logo_small.png') no-repeat center;
}
#powered_by_logo {
	background: url('/img/edepoze/logo_powered_by.png') no-repeat 0 0;
	float: right;
	width: 240px;
	height: 29px;
	position: absolute;
	top: -11px;
	left: 780px;
}
#depositions_footer #powered_by_logo_footer {
	background-image: url('/img/edepoze/logo_powered_by.png');
	background-size: 150px;
}

