/**
 * BRANDING
 */

#logo_header {
	margin-top: 55px;
}
#signin_options {
	margin: 28px 0 85px 0;
}
#branded_logo {
	background: url('/img/brands/exhibitbridge/logo_big.png') no-repeat 0 0;
	width: 572px;
	height: 180px;
	margin: 0 auto;
}
#ipad_container_branded {
	position: relative;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	background: url('/img/brands/exhibitbridge/blue_bg.png') no-repeat 0 0;
	
	font-size: 14px;
	border: 15px solid #000;
	border-radius: 16px;
}
#toolbar_logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url('/img/brands/exhibitbridge/logo_small.png') no-repeat center;
	z-index: 1;
}

.toolbar_wrap {
	background: url('/img/brands/exhibitbridge/headerBackground.png') no-repeat center;
}

#powered_by_logo {
	background: url('/img/edepoze/logo_powered_by.png') no-repeat 0 0;
	float: right;
	width: 240px;
	height: 29px;
	position: absolute;
	top: -11px;
	left: 780px;
}
#depositions_footer #powered_by_logo_footer {
	background-image: url('/img/edepoze/logo_powered_by.png');
	background-size: 150px;
}

